@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);
@import url(color.css);
@charset "utf-8";

body, h1, h2, h3, h4, h5, h6, p, ul, li{
  margin:0;
  padding:0;
  list-style-type:none;
  font-family:'Open Sans Condensed', sans-serif;
  }

 body{
  background:url(../img/bg-marcelo-rezende.jpg) center 41px no-repeat;
  }

a {
  text-decoration: none;
  color: #000;
}
a:hover {
  text-decoration: underline;
}
.hidden{
	display: none;
}
#interna{
	background: url(../img/bg-interno-marcelo-rezende.jpg) no-repeat center 41px;
}

.botaoConfira{
	float:right;
	margin-bottom:10px;
	}


.botaoConfira a{
	width:auto;
	height:30px;
	line-height:30px;
	padding:0 15px;
	background:rgba(204,204,204,1);
	display:block;
	text-decoration:none;
	color:rgba(0,0,0,1);
	}


/* propaganda */

#propaganda{
	width:1000px;
	height:90px;
	margin: auto;
	padding: 7px 0 7px 0;
	}


.super-banner{
	width:728px;
	height:90px;
	margin: 0 auto;
	}

.banner-172{
	width:172px;
	height:90px;
	float:left;
	margin-left:100px;
	}


.banner-160x600 {
	width:160px;
	height:600px;
	margin:40px auto;}

/*final da propaganda*/



#area-nobre{
	width:1000px;
	height: auto;
	margin:auto;
	padding:7px 0 50px 0;
	}



#lateal-menu{
	width: 230px;
	padding:5px;
	height:auto;
	float:left;
	background:#FFFFFF;
	}


#logotipo{
	width:230px;
	height:260px;}

#logotipo a{
	text-decoration:none;

	/*transição dos elementos*/
	-webkit-transition: all .2s ease-out;
   	-moz-transition: all .2s ease-out;
   	-o-transition: all .2s ease-out;
   	transition: all .2s ease-out;
	cursor: pointer;
	}

#logotipo a:hover{
	opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
	}

#menu{
	width:auto;
	margin-top:10px;
	}

#menu ul{
	margin:0;
	/*padding:10px 0 10px 0;*/
	list-style-type:none;
	background:#d9d9d9;
	}

#menu ul li{
	width:210px;
	padding: 0 10px 0 10px;
	height:auto;
	}

#menu ul li a{
	width:210px;
	height:35px;
	line-height:35px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:14px;
	text-decoration: none;
	display:block;
	text-transform:uppercase;
	font-weight:300;

	/*transição dos elementos*/
	-webkit-transition: all .2s ease-out;
   	-moz-transition: all .2s ease-out;
   	-o-transition: all .2s ease-out;
   	transition: all .2s ease-out;
	cursor: pointer;}


#menu ul li.cinza,
#menu ul li.amarelo,
#menu ul li.azul,
#menu ul li.vermelho,
#menu ul li.bege,
#menu ul li.cinza-escuro{
	border-top: solid 2px #FFF;
	}


#menu ul li.cinza + li.cinza,
#menu ul li.amarelo + li.amarelo,
#menu ul li.azul + li.azul,
#menu ul li.vermelho + li.vermelho,
#menu ul li.bege + li.bege,
#menu ul li.cinza-escuro + li.cinza-escuro
{
	border-top:none;
	}



#menu ul li.cinza a,
#menu ul li.amarelo a,
#menu ul li.azul a,
#menu ul li.vermelho a,
#menu ul li.bege a,
#menu ul li.cinza-escuro a,
#menu ul li.cinza-claro a {
	font-weight:700;}


#menu ul li.cinza + li.cinza a,
#menu ul li.amarelo + li.amarelo a,
#menu ul li.azul + li.azul a,
#menu ul li.vermelho + li.vermelho a,
#menu ul li.bege + li.bege a,
#menu ul li.cinza-escuro + li.cinza-escuro a,
#menu ul li.cinza-claro + li.cinza-claro a
{
	font-weight:300;}


#menu ul li a:hover,
#menu ul li a.hover{
	padding-left:10px;
	width:200px;
	}

/* FINAL DO MENU */




.formulario-marcelo-um-dia-corpo.hidden + br + #corta-pra-mim{
border-top: 0;
}



/* DEFINIÇÕES DO TOPO DO SITE*/
#destaque-topo{
	width: 750px;
	height:auto;
	float:left;
	margin-left:10px;
	}

.logo-segmento{
	width:300px;
	height:150px;
	margin: 160px 450px 5px 0;
	float:left;
	}

.logo-segmento-interno{
	width:300px;
	height:210px;
	margin: 160px 450px 20px 0;
	float:left;
	}


.rede-social{
	width:300px;
	background:rgba(255,255,255,0.7);
	height:50px;
	margin-right:450px;
	margin-bottom:3px;
	float:left;

		/*curva*/
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	}


.rede-social ul{
	margin:0;
	padding:0;
	list-style-type:none;}


.rede-social ul li{
	float:left;
	width:45px;
	height:40px;
	margin:5px 5px 5px 0;
	overflow: hidden;
	}

.rede-social ul li a{
	width:45px;
	height:40px;
	text-decoration:none;
	display:block;
	line-height:40px;
	text-align:center;

	/*transição dos elementos*/
	-webkit-transition: all .2s ease-out;
   	-moz-transition: all .2s ease-out;
   	-o-transition: all .2s ease-out;
   	transition: all .2s ease-out;
	cursor: pointer;
	}


.rede-social ul li a:hover{
	background:top -50px;
	}


.twitter a{ background:url(../img/split-redes-sociais.png) top left ;}
.twitter a:hover{ background:url(../img/split-redes-sociais.png) top -50px left ;}

.facebook a{ background:url(../img/split-redes-sociais.png) top  left -50px ;}
.facebook a:hover{ background:url(../img/split-redes-sociais.png) top -45px left -50px;}

.google a{ background:url(../img/split-redes-sociais.png) top left -100px ;}
.google a:hover{ background:url(../img/split-redes-sociais.png) top -50px left -100px;}

.contato a{ background:url(../img/split-redes-sociais.png) top left -150px ;}
.contato a:hover{ background:url(../img/split-redes-sociais.png) top -50px left -150px;}

.youtube a{ background:url(../img/split-redes-sociais.png) top left -200px ;}
.youtube a:hover{ background:url(../img/split-redes-sociais.png) top -50px left -200px;}

.rss a{ background:url(../img/split-redes-sociais.png) top left -250px ;}
.rss a:hover{ background:url(../img/split-redes-sociais.png) top -40px left -250px;}

.instagram a{ background: url(../img/split-redes-sociais.png) -290px -240px; }
.instagram a:hover{ background:url(../img/split-redes-sociais.png) -290px -285px;}



/*redes mini*/

.destaques .twitter-mini a,
.twitter-mini a{ background:url(../img/split-redes-sociais-mini.png) top left ;}
.destaques .twitter-mini a:hover,
.twitter-mini a:hover{ background:url(../img/split-redes-sociais-mini.png) top -30px left ;}

.destaques .facebook-mini a,
.facebook-mini a{ background:url(../img/split-redes-sociais-mini.png) top  left -35px ;}
.destaques .facebook-mini a:hover,
.facebook-mini a:hover{ background:url(../img/split-redes-sociais-mini.png) top -30px left -35px;}

.destaques .google-mini a,
.google-mini a{ background:url(../img/split-redes-sociais-mini.png) top left -65px ;}
.destaques .google-mini a:hover,
.google-mini a:hover{ background:url(../img/split-redes-sociais-mini.png) top -30px left -65px;}

.contato-mini a{ background:url(../img/split-redes-sociais-mini.png) top left -100px ;}
.contato-mini a:hover{ background:url(../img/split-redes-sociais-mini.png) top -30px left -100px;}

.youtube-mini a{ background:url(../img/split-redes-sociais-mini.png) top left -133px ;}
.youtube-mini a:hover{ background:url(../img/split-redes-sociais-mini.png) top -30px left -133px;}

.rss-mini a{ background:url(../img/split-redes-sociais-mini.png) top left -165px ;}
.rss-mini a:hover{ background:url(../img/split-redes-sociais-mini.png) top -30px left -165px;}

.instagram-mini a{ background:url(../img/split-redes-sociais-mini.png) top left -165px ;}
.instagram-mini a:hover{ background:url(../img/split-redes-sociais-mini.png) top -30px left -165px;}


.pesquisa{
	width:300px;
	/*background:#f1f1f1;*/
	height:40px;
	margin-right:450px;
	margin-bottom:33px;
	float:left;
	}

.pesquisa-interna{
	width:300px;
	background:#f1f1f1;
	height:40px;
	margin-left:450px;
	margin-bottom:20px;
	margin-top:40px;
	float:left;
	}

#busca{
	width:226px;
	height:36px;
	background:#f1f1f1;
	border-bottom:1px solid #ccc;
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
	float:left;
	line-height:36px;
	padding-left:20px;
	font-family:Verdana, Geneva, sans-serif;
	color:#666;
	font-size:14px;
	font-style:italic;

	}

#bt-busca{
	width:50px;
	height:40px;
	background: url(../img/icone-busca.png) top left no-repeat #0066CC;
	float:left;
	border:none;

	/*curva*/
	-moz-border-radius:0 5px 5px 0;
	-webkit-border-radius:0 5px 5px 0;
	border-radius:0 5px 5px 0;

	/*transição dos elementos*/
	-webkit-transition: all .2s ease-out;
   	-moz-transition: all .2s ease-out;
   	-o-transition: all .2s ease-out;
   	transition: all .2s ease-out;
	cursor: pointer;
	}

#bt-busca:hover{
	background: url(../img/icone-busca.png) top left no-repeat rgba(0,51,153,1);
	}



.titulo-pagina{
	font-size:36px;
	color:#999999;
	padding:0;
	margin:0;
	font-weight:300;}




#banner-principal{
	width:746px;
	background:#CCC;
	border:#FFFFFF solid 2px;
	height:326px;
	float:left;
	position: relative;
	}

#acabamento-banner{
	width:750px;
	height:50px;
	float:left;
	background:url(../img/images/detalhe-banner.jpg) no-repeat top left #fff;
	}

.banner-interna{
	width:750px;
	height: 224px;

}
.lista-banner{
	width:750px;
	float: left;
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;

}
.lista-banner li {
	width:750px;
	float: left;
	position: relative;
}
.hbanner{
	width: 750px;
	height: 224px;
	position: absolute;
	top: 0;
	left: 0;
}
.maskbanner {
	width:750px;
	margin: 0 auto;
	position: relative;
	height: 224px;
	overflow: hidden;
}
#banner-principal-interno{
	width:750px;
	background:#CCC;
	/*border:#FFFFFF solid 2px;*/
	height: 224px;
	float:left;
	position: relative;
	/*transição dos elementos*/
	-webkit-transition: all .2s ease-out;
   	-moz-transition: all .2s ease-out;
   	-o-transition: all .2s ease-out;
   	transition: all .2s ease-out;
	cursor: pointer;

}
.banner-texto{
	width: 250px;
	height: 194px;
	position: absolute;
	top: 0;
	left: 0;
	background:  #919191;
	padding: 15px;
	color: #000;
	opacity: 0;
}

.corta-pra-mim .banner-texto{
	color:#fff;}

.entrevistas .banner-texto{
	color:#fff;}

#banner-principal-interno:hover .banner-texto{ opacity: 1; }
.banner-texto:before{
	content: "";
	display: block;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid #919191;
	position: absolute;
	right: -16px;
	top: 45%;
	margin-left: 0px;
}
.banner-share{
	width: 40px;
	height: 224px;
	position: absolute;
	top: 0;
	right: 0;
	background:  #919191;
}
.banner-share .compartilhar-rede{
	width: 30px;
	height: 80px;
	background: #cecece;
	padding-right: 10px;
}
.banner-share .compartilhar-rede ul li{
	width: 26px;
}
.banner-share .compartilhar-rede ul li a{
	height: 18px;
}
.cor-cinza .banner-texto,
.cor-cinza .banner-share { 	background: #919191; }
.cor-cinza .banner-seta a:hover{ 	background: #2c7bb4; }
.cor-cinza .banner-texto:before{ border-left: 15px solid #919191; }
.cor-amarelo .banner-texto,
.cor-amarelo .banner-share{	background: #e6be1b; }
.cor-amarelo .banner-seta a:hover{ background: #dab711; }
.cor-amarelo .banner-texto:before{ border-left: 15px solid #e6be1b; }
.cor-bege .banner-texto,
.cor-bege .banner-share{ background: #b08e68; }
.cor-bege .banner-seta a:hover{ background: #544331; }
.cor-bege .banner-texto:before{ border-left: 15px solid #b08e68; }
.cor-vermelho .banner-texto,
.cor-vermelho .banner-share{ background: #c01f26; }
.cor-vermelho .banner-seta a:hover{	background: #90171c;  }
.cor-vermelho .banner-texto:before{ border-left: 15px solid #c01f26; }
.cor-azul .banner-texto,
.cor-azul .banner-share{	background: #0a529c; }
.cor-azul .banner-seta a:hover{	background: #2c7bb4; }
.cor-azul .banner-texto:before{ border-left: 15px solid #0a529c; }
.cor-cinza-escuro .banner-texto,
.cor-cinza-escuro .banner-share{ 	background: #7f7f7f; }
.cor-cinza-escuro .banner-texto:before{ border-left: 15px solid #7f7f7f; }
.banner-seta{
	width: 40px;
	bottom: 35px;
	position: absolute;
	font-size: 30px;
	right: 0;
}
.banner-seta a {
	width: 40px;
	height: 30px;
	line-height: 40px;
	color: #FFF;
	display: block;
	text-align: center;
	vertical-align: middle;
}
.banner-seta a:hover {
	background: #2c7bb4;
	color: #FFF;
}

#acabamento-banner-interno{
	width: 750px;
	height: 35px;
	float: left;
	position: absolute;
	background: url(../img/images/detalhe-banner.jpg) no-repeat top left #fff;
	bottom: 0;
}
.mediaShow{
	width: 657px;
	height: 326px;
	overflow: hidden;
	position: relative;
}
.banner-engloba{
	height: 326px;
	float: left;
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
	}
.banner-engloba li {
	width: 657px;
	height: 326px;
	float: left;
	position: relative;
}
.selected img {
	opacity: 1!important;
}

.banner-foto{
	width: 657px;
	height: 326px;
	position: absolute;
	}


.banner-titulo {
	width: 520px;
	height: 50px;
	position: absolute;
	background: #d9d9d9;
	bottom: 0;
	right: 0;
	}


.banner-titulo h4,
.banner-titulo h4 a{
	margin: 7px 15px;
	height: 36px;
	overflow: hidden;
	text-decoration: none;
	color: #000;
	}

.mask{
	width: 89px;
	height: 326px;
	overflow: hidden;
}
.mediaList{
	width: 89px;
	position: absolute;
	top: 0;
	right: 0;
}
.banner-foto-mini{
	width: 89px;
	height: 326px;
	margin: 0;
	padding: 0;
	float: left;
	}


.banner-foto-mini a{
	margin: 0;
	height: 50px;
	width: 89px;
	display: block;
	}



.banner-foto-mini li{
	height: 54px;
}


.banner-foto-mini li img{
	 opacity: 0.4;
}
.banner-foto-mini li a:hover img,
.banner-foto-mini li a.hover img{
	opacity: 1;
}

.btnHide{
	display: none;
}


.geral{
	width:100%;
	height:auto;
	float:left;
	clear:both;
	padding:7px 0;}

.geral p{ color:#333;}

.geral-noticias{
	width:100%;
	height:auto;
	float:left;
	clear:both;
	padding:7px 0;}

.geral-noticias h3{
	font-weight:300;
	line-height:36px;}

.geral-noticias ul li{
	border-bottom: #CCC solid 1px;
	padding: 7px 0;
	float:left;
	width: 400px;
	min-height:90px;
	clear:both;
	}

.geral-noticias ul li a{
	text-decoration:none;
	color:#333;
	display:block;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:14px;
	padding: 3px 0;

	/*transição dos elementos*/
	-webkit-transition: all .2s ease-out;
   	-moz-transition: all .2s ease-out;
   	-o-transition: all .2s ease-out;
   	transition: all .2s ease-out;
	cursor: pointer;}

.geral-noticias ul li a .foto-ultimas{
	width:80px;
	height:80px;
	float:left;
	margin-right:20px;
	text-decoration:none;}

.geral-noticias ul li a:hover{
	color:#999999;}

/* teste*/
.conteudo-ultimas h4{
	text-transform:uppercase;
	font-size:14px;
	font-weight:700;
	color:#444;}


.ultimas-noticias{
	width:400px;
	float:left;
	padding-right:50px;
}


.banner-300x250{
	width:300px;
	height:250px;
	float:left;
	padding-top:18px;}

/*FINAL DO TOPO DO SITE*/



/* DEFINIÇÕES DOS DESTAQUE DO SITE*/

.destaques{
	height:auto;
	clear:both;
	}

.destaques ul li{
	width:333px;
	float:left;
	margin-right:0px;
	position: relative;
	}

.destaques ul li a{
	text-decoration:none;
	width:303px;
	padding:15px;
	display:block;
	background:#FFF;

	/*transição dos elementos*/
	-webkit-transition: all .2s ease-out;
   	-moz-transition: all .2s ease-out;
   	-o-transition: all .2s ease-out;
   	transition: all .2s ease-out;
	cursor: pointer;
}

.destaques ul li a:hover{
	margin-top:-7px;}


.destaques ul li a .topo-materia{
	width:303px;
	height:50px;
	margin-bottom:7px;}

.destaques ul li a .img-destaque{
	width:303px;
	height:180px;
	background:#CCC;
	position: relative;
	}

.destaques .compartilhar-rede ul li a{
	padding: 0px;

}
.destaques .compartilhar-rede {
	width: 80px;
	height: 30px;
	background: #FFF;
	position: absolute;
	right: 14px;
	bottom: 10px;
}
.destaques ul li a:hover + .compartilhar-rede {
	background: #0a529c;
}
.destaques .compartilhar-rede ul li{
	width: 26px;
}
.destaques .compartilhar-rede ul li a:hover{
	padding: 0px;
	margin: 0px;
}
.destaques .compartilhar-rede ul li a{
	height: 20px;
}


.videodtq:hover:after{
	content: "\f01d";
	color: #fff;
	text-align: center;
	display: inline-block;
	font-family: FontAwesome;
	font-size: 100px;
	position: absolute;
	left: 105px;
	top: 45px;
}
.destaques ul li a .titulo-destaque{
	color:#333;
	text-transform:uppercase;
	padding-top:7px;}

.destaques ul li a .conteudo-destaque{
	color:#333;
	padding-top:7px;
	padding-bottom:7px;
	font-size:16px;
	line-height:20px;
	}

.destaques ul li a .veja-mais{
	text-align:right;
	height:30px;
	line-height:30px;
	font-style:italic;
	font-size:16px;
	color:#333333;
	font-weight:bold;
	}



/*DEFINIÇÕES DA PÁGINA DE POST */

.titulos{
	width:100%;
	float:left;
	height:30px;
	padding:30px 0 0 0;
	border-bottom: solid 1px  #e5e5e5;
	}

.titulos .texto-titulos{
	width: auto;
	/*min-width:200px;*/
	max-width:300px;
	padding: 0 20px;
	height:32px;
	text-align:center;
	margin:auto;
	background: rgba(255,255,255,1);
	}



.titulo-pagina{
	width:100%;
	float:left;
	border-bottom: 1px solid #e5e5e5;
	height:40px;
	}

.titulo-pagina .box-titulo{
	width:auto;
	float:left;
	background:#fff;
	padding-right:35px;}


.conteudo-post{width:100%; height:auto; background:#f1f1f1; margin-top:20px; float:left; clear:both;}
.conteudo-post .data{width:90px; height:90px; padding:20px; float:left; }
.conteudo-post .data .data-dia{font-size:46px; text-align:center; font-weight:bold;}
.conteudo-post .data .data-mes{font-size:24px;text-transform:uppercase;text-align:center;}

.conteudo-post .titulo-post{
	width:580px;
	height:auto;
	min-height:90px;
	padding:20px;
	float:left;}

.conteudo-post .titulo-post h1{
	font-size:26px;}


.conteudo-post .img-post{
	width:750px;
	height:250px;
	float:left;
	background:rgba(204,204,204,1);}


.conteudo-post .img-post.seta-baixo:before{	border-top:10px solid  #f1f1f1; }

.conteudo-post .texto-conteudo-post{
	width:690px;
	height:auto;
	padding:30px;
	float:left;
	}

.conteudo-post .texto{
	width:643px;
	height:auto;
	float:left;
	margin-right:20px;
	}

.conteudo-post .texto p{
	color:#333333; }


.conteudo-post .compartilher-rede{
	width:27px;
	height:85px;
	float:left;
	padding-top:35%;
	}

.conteudo-post .compartilher-rede-blog{
	width:27px;
	height:85px;
	float:left;
	}

.conteudo-post .botao-veja-mais-blog{
	width:70px;
	height:50px;
	clear:both;
	float:right;}

.conteudo-post .botao-veja-mais-blog a{
	display:block;
	text-align: center;
	line-height:50px;
	text-decoration:none;
	font-size:34px;

	/*transição dos elementos*/
	-webkit-transition: all .2s ease-out;
   	-moz-transition: all .2s ease-out;
   	-o-transition: all .2s ease-out;
   	transition: all .2s ease-out;
	cursor: pointer;
}



.tumb_noticias_relacionadas {
	float:left;
	width:100%;
	height:auto;
	padding:30px 0;
	clear:both;}


.tumb_noticias_relacionadas ul{
	float:left;
	width:auto;
	}

.tumb_noticias_relacionadas ul li{
	margin:0 12px;
	float:left;
}

.box-relacionadas{width:350px; height:300px; background:#f1f1f1; }
.box-relacionadas .data-relacioanada{width:60px; height:60px; padding:15px; float:left;  font-size:24px;line-height:26px; text-align:center;}

.box-relacionadas .titulo-relacioanada{
	width:230px;
	height:60px;
	padding:15px;
	float:left;}

.box-relacionadas .img-relacioanada{
	width:350px;
	height:170px;
	float:left;
	background:rgba(204,204,204,1);}

.box-relacionadas .compartilhar-rede{
	width:310px;
	clear:both;
	padding-top:7px;
	float:left;}

.box-relacionadas .compartilhar-rede ul{
	width:300px;
	float:left;}


 .box-relacionadas .botaoMais{
	width:40px;
	height:40px;
	float: left;
}

 .box-relacionadas .botaoMais  a{
	display:block;
	width:40px;
	height:40px;
	line-height:40px;
	text-align:center;
	text-decoration:none;
	font-size:20px;

	/*transição dos elementos*/
	-webkit-transition: all .2s ease-out;
   	-moz-transition: all .2s ease-out;
   	-o-transition: all .2s ease-out;
   	transition: all .2s ease-out;
	cursor: pointer;}

























/* DEFINIÇÕES DO CORTA PRA MIM*/

#corta-pra-mim{
	width:100%;
	float:left;
	clear:both;
	border-top: 1px solid #CCC;
	padding: 25px 0 30px 0;
	margin-top:30px;
	}


#corta-pra-mim h1{
	font-weight:300;
	width:1000px;
	line-height:38px;
	margin:auto;
	text-transform:uppercase;
	}

#corta-pra-mim h1 strong{
	color:#c01f26;}

.nav-corta-pra-mim{
	width:1000px;
	height:20px;
	margin:auto;
	}

.nav-corta-pra-mim ul{
	float:right;
	}

.nav-corta-pra-mim ul li {
	float: left;
}
.nav-corta-pra-mim ul li span{
	margin-left:7px;
	float:left;
	color: transparent;
	}

.nav-corta-pra-mim ul li span{
	width:15px;
	height:15px;
	background:#f1f1f1;
	display:block;

	/* sombra interna */
	-moz-box-shadow:inset 0 3px 7px #333;
	-webkit-box-shadow:inset 0 3px 7px #333;
	box-shadow:inset 0 3px 7px #333;
	/* termina sombra interna*/

	/*curva*/
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;

	/*transição dos elementos*/
	-webkit-transition: all .2s ease-out;
   	-moz-transition: all .2s ease-out;
   	-o-transition: all .2s ease-out;
   	transition: all .2s ease-out;
	cursor: pointer;
	}

.nav-corta-pra-mim ul li span:hover,
.nav-corta-pra-mim ul li span.cycle-pager-active{
	background:#c01f26;
	}

.destaque-corta-pra-mim{
	width:100%;
	height:150px;
	padding: 7px 0;
	float:left;
	background:#f1f1f1;
	margin-top:10px;
	}


.destaque-corta-pra-mim ul{
	width:1000px;
	height:150px;
	margin:auto;
	overflow: hidden;
	position: absolute;
}

.destaque-corta-pra-mim ul li{
	width:480px;
	height:150px;
	float:left;
	margin:0 0 0 20px;
}
.destaque-corta-pra-mim ul li:first-child{
	margin:0;
}

.destaque-corta-pra-mim ul li a{
	text-decoration: none;
	color:#FFFFFF;}

.destaque-corta-pra-mim ul li a h4{
	text-transform:uppercase;
	padding:7px 0 10px 0;
	}

.destaque-corta-pra-mim ul li a .img-corta-pra-mim{
	width:150px;
	height:150px;
	background:rgba(204,204,204,1);
	float:left;}

.destaque-corta-pra-mim ul li a .chamada-corta-pra-mim{
	width:303px;
	height:135px;
	float:left;
	padding:7px 7px 8px 20px;
	background:#c01f26;

	/*transição dos elementos*/
	-webkit-transition: all .2s ease-out;
   	-moz-transition: all .2s ease-out;
   	-o-transition: all .2s ease-out;
   	transition: all .2s ease-out;
	cursor: pointer;
	}

.destaque-corta-pra-mim ul li a:hover .chamada-corta-pra-mim{
	background:rgba(153,0,0,1);}

.chamada-corta-pra-mim.seta-esquerda{
	position:relative;}


.chamada-corta-pra-mim.seta-esquerda:before{
	content:"";
	display: block;
	width:1px;
	height:1px;
	overflow:hidden;
	border-top:10px solid transparent;
	border-bottom:10px solid transparent;
	border-right:10px solid  #c01f26;
	position:absolute;
	right:100%;
	top:45%;
	margin-top:-5px;
	margin-left:-10px;}
.chamada-corta-pra-mim p{
	line-height: 19px;
}
.destaque-corta-pra-mim ul li a:hover .chamada-corta-pra-mim.seta-esquerda:before{
	border-right:10px solid  rgba(153,0,0,1);}



/*RODAPE DO SITE*/

#rodape{
	width:100%;
	height:830px;
	background: url(../img/bg-rodape.jpg) no-repeat bottom center #f1f1f1;
	border-top: solid 1px #CCC;
	padding-top:35px;
	clear:both;}

.rodape-centro{
	width:1000px;
	margin:auto;
	padding-bottom:15px;
	clear:both;
	}

.entrevista-rodape{
	width:550px;
	margin-right:35px;
	margin-bottom:40px;
	float:left;}

.entrevista-rodape h1{
	color:#0a529c;
	margin-bottom:15px;}

.box-entrevista{
	width:550px;
	height:330px;
	float: left;
}


.nav-entrevista{
	width:530px;
	height:100px;
	padding:10px;
	/*background:#FFF;*/
	background:rgba(255,255,255,0.9);
	position:relative;
	left:0;
	top:210px;

	opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
	}

.conteudo-nav-entrevista{
	width:500px;
	height:65px;
	float:left;
	text-shadow: 1px 1px 1px #CCC;
	}
.conteudo-nav-entrevista a { text-decoration: none; color: #000; }
.conteudo-nav-entrevista p{
	color:#333;
	padding-top:7px;}

.conteudo-nav-link{
	position: absolute;
	bottom: 11px;
	right: 8px;
}

.nav-menu-entrevista{
	width: 30px;
	height:  65px;
	position: absolute;
	right: 8px;
	top: 220px;
	}


.nav-menu-entrevista ul li{
	width:30px;
	height:33px;
	}

.nav-menu-entrevista ul li a,
.conteudo-nav-link a{
	width:30px;
	height:32px;
	margin-bottom:1px;
	display:block;
	line-height:30px;
	text-align:center;
	color:#FFFFFF;
	text-decoration:none;
	background:#195fa4;

	/*transição dos elementos*/
	-webkit-transition: all .2s ease-out;
   	-moz-transition: all .2s ease-out;
   	-o-transition: all .2s ease-out;
   	transition: all .2s ease-out;
	cursor: pointer;
	}

.nav-menu-entrevista ul li a:hover,
.conteudo-nav-link a:hover{
	background:rgba(0,153,204,1);
	}


.nav-menu-entrevista ul li .nav-entrevista-mais a{
	background:#FFF;
	color:#0a529c;}


.forum-rodape{
	width:415px;
	float:left;}


.forum-rodape h1{
	color:#7f7f7f;
	margin-bottom:15px;}

.box-forum{
	width:355px;
	height:190px;
	padding:30px;
	background:#7f7f7f;

	/*curva*/
	-moz-border-radius:0 50px 0 0;
	-webkit-border-radius:0 50px 0 0;
	border-radius:0 50px 0 0;
	}
.box-forum p a {
  color: #FFF;
  text-decoration: none;
}
.box-forum h2, p{
	color:#fff;
	margin-bottom:20px;}


.btn-login-facebook {
	width:335px;
	height:30px;
	background:#0a529c;
	margin: auto;
	padding:7px;
	position: relative;

background: #207cca; /* Old browsers */
background: -moz-linear-gradient(top,  #207cca 0%, #415989 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#207cca), color-stop(100%,#415989)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #207cca 0%,#415989 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #207cca 0%,#415989 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #207cca 0%,#415989 100%); /* IE10+ */
background: linear-gradient(to bottom,  #207cca 0%,#415989 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207cca', endColorstr='#415989',GradientType=0 ); /* IE6-9 */


	/*curva*/
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
}

.btn-login-facebook a{
	text-decoration:none;
	color:#FFF;
	display:block;
}

.btn-login-facebook a .logo-facebook{
	width:40px;
	height:30px;
	float:left;
	text-align:center;
	background: url(../img/logo-facebook.png) no-repeat top left;
	line-height:30px;
	border-right: solid 1px  #3a6096;
	}


.btn-login-facebook a .texto-facebook{
	width:274px;
	height:30px;
	float:left;
	line-height:30px;
	padding-left:20px;
	}


.fb-login-button {
	width: 349px!important;
	position: absolute;
	height: 44px;
	left: 0;
	top: 0;
	text-indent: -2000px;
}
.fb_iframe_widget.fb-login-button{
	position: absolute!important;
}

/*FINAL DO RODAPE*/

.box-UmTerco{
	width:250px;
	height:200px;
	float:left;
	margin:80px 65px 0 0;}



.box-UmTerco-centro{
	width:400px;
	height:200px;
	float:left;
	margin:80px 55px 0 0;}

.box-UmTerco-centro h4{
	color:#CCCCCC;
	line-height:26px;
	padding-bottom:10px;
	text-transform:uppercase;
	font-weight:300;}

.box-UmTercoDireito{
	width:230px;
	height:250px;
  margin-top: -15px;
	float:left;
	}

.menu-rodape ul{
	width:100%;
	float:left;}

.menu-rodape ul li{
	width:100%;
	border-bottom:#036 dashed 1px;}

.menu-rodape ul li a{
	text-decoration:none;
	font-size:14px;
	color:#FFFFFF;
	padding: 5px 0;
	display:block;
	text-transform:uppercase;

	/*transição dos elementos*/
	-webkit-transition: all .2s ease-out;
   	-moz-transition: all .2s ease-out;
   	-o-transition: all .2s ease-out;
   	transition: all .2s ease-out;
	cursor: pointer;
}

.menu-rodape ul li a:hover{
	color:rgba(0,153,204,1);}


/*DEFINIÇÕES DOS CRÉDITOS*/

.creditos{
	width:100%;
	padding:30px 0 0 0;
	text-align:right;
	color:#333333;
	font-size:12px;
	text-transform:uppercase;}


.creditos a{
	color:#666666;
	text-decoration:none;
	}

.creditos a:hover{
	color:#0a529c
}

/*DIVISÕES DE BLOCOS*/

.DoisTercosEsquerdo{
	width:655px;
	float:left;
	margin-right:35px }


.DoisTercosDireito{
	width:655px;
	float:left;
	}


.UmTercoDireito{
	width:310px;
	float:left;}


.UmTerco{
	width:310px;
	float:left;
	margin-right:35px;}

.DoisTercosDireito{
	width:655px;
	float:left;
	}


.DoisTercosDireito-um-dia{
	width:750px;
	float:left;
	}

.UmTerco-um-dia{
	width:230px;
	float:left;
	margin-right:20px;}

/*DEFINIÇÕES DA PÁGINA CIDADE ALERTA */



.mr-narra{
	width:655px;
	float:left;
	height:230px;
	margin-top:20px;}

.destaque-cidadezinha{
	width:308px;
	float:left;
	height:231px;
	margin-top:20px;
	border:#CCCCCC solid 1px;
	}

.destaque-cidadezinha a{
	text-decoration:none;

	/*transição dos elementos*/
	-webkit-transition: all .2s ease-out;
   	-moz-transition: all .2s ease-out;
   	-o-transition: all .2s ease-out;
   	transition: all .2s ease-out;
	cursor: pointer;
	}

.destaque-cidadezinha a:hover{
	opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
	}


.img-destaque-mr-narra{
	width:230px;
	height:230px;
	float:left;
	background:rgba(204,204,204,1);}

.conteudo-destaque-mr-narra{
	width: 395px;
	height:200px;
	padding:15px;
	float:left;
	background:#2a2a2a;

}

.conteudo-destaque-mr-narra p,
.conteudo-destaque-mr-narra p a{
	color:#f1f1f1;
	text-decoration: none;
}


.conteudo-destaque-mr-narra.seta-esquerda{
	position:relative;
	}


.conteudo-destaque-mr-narra.seta-esquerda:before{
	content:"";
	display: block;
	width:1px;
	height:1px;
	overflow:hidden;
	border-top:10px solid transparent;
	border-bottom:10px solid transparent;
	border-right:10px solid  #2a2a2a;
	position:absolute;
	right:100%;
	top:45%;
	margin-top:-5px;
	margin-left:-10px;}

.conteudo-destaque-mr-narra h2,
.conteudo-destaque-mr-narra h2 a{
	color:rgba(204,204,204,1);
	text-transform:uppercase;
	padding-bottom:10px;
	font-weight:300;
	line-height:36px;
	text-decoration: none;
}


/*definições de compartilhamento social*/

.compartilhar-rede{
	width:100%;
	height:25px;
	padding:7px 0;}

.compartilhar-rede ul li{
	float: right;}

.compartilhar-rede ul li a{
	width:25px;
	height:25px;
	display:block;
	margin-left:1px;
	text-align:center;
	line-height:25px;
	color:rgba(51,51,51,1);
	text-decoration:none;
	font-size:24px;
	font-weight:bold;

	/*transição dos elementos*/
	-webkit-transition: all .2s ease-out;
   	-moz-transition: all .2s ease-out;
   	-o-transition: all .2s ease-out;
   	transition: all .2s ease-out;
	cursor: pointer;
	}



/*definições da paginação */

.mais-paginas{
	width: 100%;
	height:auto;
	margin:auto;
	padding:30px 0 70px;}

.paginacao{
	width:auto;
	float:right;
	clear:both;}

.mais-paginas ul{
	width:auto;
	height:40px;}


.paginacao ul li {
		float:left;}

.paginacao ul li a{
	width:40px;
	height:40px;
	display:block;
	margin-left:2px;
	border: 1px solid #CCCCCC;
	background:#f1f1f1;
	text-align:center;
	line-height:40px;
	text-decoration:none;
	color:#666;
	font-weight:bold;


	/*curva*/
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;

	/*transição dos elementos*/
	-webkit-transition: all .2s ease-out;
   	-moz-transition: all .2s ease-out;
   	-o-transition: all .2s ease-out;
   	transition: all .2s ease-out;
	cursor: pointer;
	}

.paginacao ul li a:hover{
	background:#CCCCCC;
	color:#FFFFFF;}



	/* DEFINIÇÕES DOS VÍDEOS */


.videoss {
	width:100%;
	height:auto;
	float:left;
	padding: 30px 0;
	}

.videoss  ul{
	float:left;}

.videoss  ul li{
	width:310px;
	height:300px;
	float:left;
	margin:0 11px;
	}

.videoss  ul li a{
	width:310px;
	height:280px;
	float:left;
	position: relative;
}

.videoss  ul li a:hover:after{
	content: "\f01d";
	color: #fff;
	text-align: center;
	display: inline-block;
	font-family: FontAwesome;
	font-size: 100px;
	position: absolute;
	left: 105px;
	top: 45px;
}
.marcelo-narra-player a:hover:after{
	content: "\f01d";
	color: #fff;
	text-align: center;
	display: inline-block;
	font-family: FontAwesome;
	font-size: 100px;
	position: absolute;
	left: 160px;
	top: 95px;
}
.video-310{
	width:310px;
	height:185px;
	padding-bottom:20px;}

.texto-videos{
	width:auto;
	color:#333;
	height:75px;
	float:left;
	text-decoration:none;
	float:left;
	}

.texto-videos .data-video{
	color:#999;
	width:100%;
	float:left;
	text-align:right;
	border-top: 1px solid #f1f1f1;
	clear:both;
	font-style:italic;

}


.texto-videos a:hover{
	color:#ccc;}


/*DEFINIÇÕES MARCELO REZENDE NARRA*/

.destaques-narra{
	width:100%;
	padding:30px 0;
	height:auto;
	float:left;
	}

.destaques-narra ul{
	float:left;
	}

.destaques-narra ul li{
	width:742px;
	height:auto;
	float:left;
	margin-bottom:50px;
	}

.credito-narra {
	width:552px;
	float:left;
	margin-right:20px;
	height:auto;
	padding:15px 25px;
	border:#f1f1f1 solid 1px;

	background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f1f1f1)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */

	}

.credito-narra .titulo-narra{
	width:100%;
	float:left;
	height:auto;
	color:#999;
	text-decoration:none;
	font-weight:bold;
	font-size:20px;
	border-bottom: 1px dashed #ededed;
	line-height:40px;
	text-transform:uppercase;

	/*transição dos elementos*/
	-webkit-transition: all .2s ease-out;
   	-moz-transition: all .2s ease-out;
   	-o-transition: all .2s ease-out;
   	transition: all .2s ease-out;}

a:hover .credito-narra .titulo-narra{
	color: #2c7bb4;
}

.credito-narra .dados-narra{
	width:450px;
	height:auto;
	float:left;
	padding-top:7px;
	color:#666666;
	text-decoration:none;
	}



.credito-narra .compartilhar-rede{
	width:102px;
	height:42px;
	float:left;
	padding-top:10px;
	}

.credito-narra .compartilhar-rede ul {
	width:102px;
	height:42px;
}

.credito-narra .compartilhar-rede ul li{
	width:34px;

}

.seta-direita{
	position:relative;
}


.seta-direita:before{
	content:"";
	display: block;
	width:1px;
	height:1px;
	overflow:hidden;
	border-bottom:10px solid transparent;
	border-top:10px solid  transparent;
	border-left:10px solid  #fff;
	position:absolute;
	right:100%;
	top:50%;
	margin-top:-10px;
	margin-right:-10px;}

a .botao-narra {
	width:117px;
	height:122px;
	float:left;
	background:#CCC url(../img/icone-audio.png) no-repeat center;

	/*transição dos elementos*/
	-webkit-transition: all .2s ease-out;
   	-moz-transition: all .2s ease-out;
   	-o-transition: all .2s ease-out;
   	transition: all .2s ease-out;
	cursor: pointer;
	}

a:hover .botao-narra {
	background:#2c7bb4 url(../img/icone-audio.png) no-repeat center;}


/*DEFINIÇÕES DOS FORMS*/

.form{
	width:310px;
	height:50px;
	line-height:50px;
	border:none;
	padding: 0 20px;
	background:#dedede;
	margin:7px 0 7px 20px;

	/*curva*/
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;

	/*transição dos elementos*/
	-webkit-transition: all .2s ease-out;
   	-moz-transition: all .2s ease-out;
   	-o-transition: all .2s ease-out;
   	transition: all .2s ease-out;}

.form:hover{
	background:#f1f1f1;}


.form2{
	width:293px;
	height:50px;
	line-height:50px;
	border:none;
	padding: 0 20px;
	background:#dedede;
	margin:7px 0 7px 20px;

	/*curva*/
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;

	/*transição dos elementos*/
	-webkit-transition: all .2s ease-out;
   	-moz-transition: all .2s ease-out;
   	-o-transition: all .2s ease-out;
   	transition: all .2s ease-out;}

.form2:hover{
	background:#f1f1f1;}





#btn-narra{
	width:350px;
	height:50px;
	line-height:50px;
	text-align:right;
	border:none;
	color:#FFFFFF;
	background: #960d13;
	margin:7px 0 7px 20px;

	/*curva*/
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;

	/*transição dos elementos*/
	-webkit-transition: all .2s ease-out;
   	-moz-transition: all .2s ease-out;
   	-o-transition: all .2s ease-out;
   	transition: all .2s ease-out;}

#btn-narra:hover{
	background:rgba(198,0,0,1);}



.nao-esqueca a{
	width:100%;
	text-align:center;
	padding: 15px 0;
	float:left;
	clear:both;
	display:block;
	background: #960d13;
	color:#FFFFFF;
	text-decoration:none;

	/*curva*/
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;

	/*transição dos elementos*/
	-webkit-transition: all .2s ease-out;
   	-moz-transition: all .2s ease-out;
   	-o-transition: all .2s ease-out;
   	transition: all .2s ease-out;}

.nao-esqueca a:hover{
	background:rgba(198,0,0,1);}


/*DEFINIÇÕES DOS PRINCIPAIS CASOS*/


.destaque-principais-casos{
	float:left;
	width:750px;
	height:436px;
	background-color:rgba(204,204,204,1);


	}


.box-conteudo-principais-casos{
	width: 750px;
	height:100px;
	float:left;
	background:#7f7f7f;}

.box-data-principais-casos{
	width: 50px;
	height:50px;
	float:left;
	background:/*rgba(0,102,204,1)*/#0a529c ;
	padding:25px;
	color:rgba(255,255,255,1);
	font-size:24px;
	line-height:24px;
	text-align:center;
	}

.box-texto-principais-casos{
	width:620px;
	height:70px;
	float:left;
	padding:15px;
	color:#fff;
	}


.pc_boxes-img{
	width:375px;
	float:left;
	height:300px;
	margin-bottom:30px;
	text-decoration:none;
	background: #f1f1f1;
	color:#333333;

	/*transição dos elementos*/
	-webkit-transition: all .2s ease-out;
   	-moz-transition: all .2s ease-out;
   	-o-transition: all .2s ease-out;
   	transition: all .2s ease-out;
	}


.pc_boxes-img:hover{
	opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */}
.memes .pc_boxes-img:hover:after {
  display: none;
}

.pc_boxes-img:hover:after{
	content: "\f01d";
	color: #fff;
	text-align: center;
	display: inline-block;
	font-family: FontAwesome;
	font-size: 100px;
	position: absolute;
	left: 135px;
	top: 95px;
}
.pc_boxes-titulo {
	width:315px;
	float:left;
	height:240px;
	background: #666;
	margin-bottom:30px;
	padding:30px;
	text-decoration:none;
	color:#f1f1f1;

		/*transição dos elementos*/
	-webkit-transition: all .2s ease-out;
   	-moz-transition: all .2s ease-out;
   	-o-transition: all .2s ease-out;
   	transition: all .2s ease-out;}



.pc_boxes-titulo:hover {
	background:#999;}



.pc_boxes-conteudo {
	width:315px;
	float:left;
	height:240px;
	margin-bottom:30px;
	padding:30px;
	text-decoration:none;
	background: #f1f1f1;
	color:#333333;
	}

.pc_boxes-conteudo:hover {
	color:#ccc;}

.pc_boxes-conteudo p{
	color:#333333;}


/*DEFINIÇÕES DA PÁGINA MARCELO REZENDE NARRA*/

.marcelo-narra{
	width:100%;
	height:auto;
	float:left;
	clear:both;
	padding:7px 0;}

.marcelo-narra ul li{
	padding:20px 0;
	border-top: solid 1px #f1f1f1;
	float:left;
	}

.marcelo-narra ul li ul li{
	padding:0;
	border-top: none;
	float:right;
	}


.marcelo-narra-player{
	width:416px;
	height:287px;
	float:left;}

.marcelo-narra-creditos{
	width:274px;
	float:left;
	height:227px;
	background:#e7e7e7;
	padding:30px;
	}



.marcelo-narra-creditos h2{
	color: rgba(51,51,51,1);
	text-transform:uppercase;
	padding-bottom:10px;
	text-align:right;
	}

.narra-cidade{
	font-size:30px;
	padding-top:10px;
	padding-bottom:7px;
	text-align:right;
	color:#003399;
	border-bottom:rgba(204,204,204,1) dashed 1px;}

.narra-data{
	font-size:14px;
	padding-bottom:15px;
	text-align:right;
	color:#666;
}

/*************/
/* LightBox */
/************/

.engloba-visualizar-narra{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.75);
	position: fixed;
	top:0;
	z-index: 99;
}
#formato-zoom-narra{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
}
.align-zoom-narra{
	margin: 0 auto;
	width: 700px;
	margin-top: 150px;
	position: relative;
	background: #FFF;
	padding: 30px;
}
.zoom-narra{
	width: 700px;
	height: 400px;
	position: relative;
	background: #FFF;
}
.zoom-narra h3 {
	width: 520px;
	text-align: center;
	font-family: Arial;
	font-size: 30px;
	font-weight: bold;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 25px;
}
a.fechar-narra{
	color: #bdbdbd;
	background: #FFF;
	width: 160px;
	position: absolute;
	vertical-align: middle;
	left: none;
	right: 50px;
	bottom: 20px;
	line-height: 45px;
	height: 40px;
	text-align: center;
	text-decoration: none;
	font-size: 40px;
	font-family: 'Open Sans Condensed', sans-serif;
}
a.fechar-narra:after{
	content: "";
	display: block;
	width: 34px;
	height: 34px;
	position: absolute;
	bottom: 0;
	right: -30px;
	background: url(../img/player.png) -87px -91px no-repeat;
}

.zoom-narra .compartilhar-rede {
	width: 80px;
	float: left;
}
.zoom-nome{
	font-size: 20px;
	color: #909090;
	/* width: 720px; */
	float: right;
}
/***********/
.formulario-marcelo-um-dia{
	width:100%;
	padding-top:20px;
	border-bottom:#CCCCCC solid 1px;
	float:left;}

.formulario-marcelo-um-dia-topo{
	width:1000px;
	margin:auto;
	}

.botao-chamada{
	width:700px;
	padding-right:50px;
	height:50px;
	line-height:50px;
	float:left;
	text-align:right;
	font-size:36px;
	text-transform:uppercase;
	}

.botao-formulario{
	width:250px;
	height:50px;
	line-height:50px;
	float:left;
	}

.botao-formulario a{
	width:250px;
	display: block;
	text-align:center;
	background:#666;
	text-decoration:none;
	color:#FFF;
	text-transform: uppercase;
	font-size:24px;

	/*curva*/
	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	border-radius:10px 10px 0 0;

	/*transição dos elementos*/
	-webkit-transition: all .2s ease-out;
   	-moz-transition: all .2s ease-out;
   	-o-transition: all .2s ease-out;
   	transition: all .2s ease-out;
	}

.botao-formulario a:hover{
	background:#ccc;
	color:#333;}


.formulario-marcelo-um-dia-corpo{
	width:1000px;
	height:auto;
	margin:auto;
	padding:30px 0;
	clear:both;}

.Confira-regulamento a{
	width:180px;
	padding:45px 25px 25px 25px;
	float:left;
	height:90px;
	text-decoration: none;
	text-align:center;
	background:#666;
	margin-bottom:20px;
	color:rgba(255,255,255,1);
	font-size:26px;
	text-transform:uppercase;

	/*curva*/
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius:10px;

	/*transição dos elementos*/
	-webkit-transition: all .2s ease-out;
   	-moz-transition: all .2s ease-out;
   	-o-transition: all .2s ease-out;
   	transition: all .2s ease-out;}

.Confira-regulamento a:hover{
	background:#ccc;
	color:#666666;}
.regulamento {
	color: #000!important;
	height: auto!important;
	padding-bottom: 80px!important;
}
.regulamento p{
	color: #000!important;
}

/*DEFINIÇÕES DA PÁGINA DICAS O MARCELO*/


.dicas{
	float:left;
	width:750px;}

.dicas ul li {
	float:left;
	margin-bottom:30px;
	width:375px;
	height:375px;
		}

.dicas ul li  a{
	width:375px;
	height:375px;
	display:block;
	text-decoration:none;}

.img-dica{
	width:375px;
	height:375px;
	position:relative;
	top:0;
	left:0;
	background:#CCC;

	/*transição dos elementos*/
	-webkit-transition: all .2s ease-out;
   	-moz-transition: all .2s ease-out;
   	-o-transition: all .2s ease-out;
   	transition: all .2s ease-out;
	}



.img-dica:hover{
	opacity:0.8;
	filter: alpha(opacity=80); /* For IE8 and earlier */
}

.conteudo{
	width:315px;
	height:90px;
	background:#CC0000;
	text-decoration:none;
	color:#FFFFFF;
	padding:30px;
	position:relative;
	left:0;
	top:225px;

	/*transição dos elementos*/
	-webkit-transition: all .2s ease-out;
   	-moz-transition: all .2s ease-out;
   	-o-transition: all .2s ease-out;
   	transition: all .2s ease-out;
	}


.conteudo:hover{
	width:315px;
	height:140px;
	background:rgba(153,0,0,1);
	position:relative;
	left:0;
	top:175px;}


/*DEFINIÇÕES DA PÁGINA DE BASTIDORES */


.batidores{
	float:left;
	width:750px;
	}


.batidores ul li{
	width:250px;
	height:250px;
	float:left;
	background:rgba(0,0,0,1);
	position: relative;
}

.batidores .compartilhar-rede  {
	width: 85px;
	background: #CCC;
}
.batidores .compartilhar-rede ul{
	float: left;
}
.batidores .compartilhar-rede ul li {
	width: 25px!important;
	height: 25px!important;
	background: #CCC;
	float: right;
}
.batidores .compartilhar-rede ul li a{
	width: 25px!important;
	height: 25px!important;
	display: block!important;
}
.batidores ul li .conteudo-bastidores{
	position: absolute;
	top: 250px;
	left: 0px;
	z-index: 1;
}
.batidores ul li:nth-child(3n+1) .conteudo-bastidores{
	left: 0px;
}
.batidores ul li:nth-child(3n+2) .conteudo-bastidores{
	left: -250px;
}
.batidores ul li:nth-child(3n+3) .conteudo-bastidores{
	left: -500px;
}

.batidores ul li a{
	width:250px;
	height:250px;
	display:block;
}

.conteudo-bastidores{
	width:690px;
	height: 350px;
	float:left;
	padding:50px 30px;
	background:rgba(102,102,102,1);
	}

.conteudo-bastidores h2{
	color:#CCCCCC;
	padding-bottom:20px;}


.imagen-condeudo-bastidores{
	/*margin-left:30px;*/
	float:right;}

.batidores ul li a img{
	opacity:0.5;
	filter: alpha(opacity=50); /* For IE8 and earlier */

	/*filtro dos elementos*/
	-webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
     -o-filter: grayscale(100%);
filter: grayscale(100%);

/*transição dos elementos*/
	-webkit-transition: all .2s ease-out;
   	-moz-transition: all .2s ease-out;
   	-o-transition: all .2s ease-out;
   	transition: all .2s ease-out;
	}



.batidores ul li a:hover img{
	opacity:1;
	filter: alpha(opacity=99); /* For IE8 and earlier */

	-webkit-filter: none;
   -moz-filter: none;
    -ms-filter: none;
     -o-filter: none;
	filter: none;}




/*DEFINIÇÕES DA PÁGINA DE CRIME DECODIFICADO*/

.crime-decodificadop{
	float:left;
	width:750px;
	}

.crime-decodificadop ul li{
	width: auto;
	height:375px;
	float:left;
	background:rgba(0,0,0,1);
	position: relative;
}
.crime-decodificadop ul li:nth-child(2n+1) .conteudo-crime-decodificado{
	position: absolute;
	left: 375px;
	top: 0;
	z-index: 1;
}
.crime-decodificadop ul li:nth-child(2n) .conteudo-crime-decodificado{
	position: absolute;
	right: 375px;
	top: 0;
	z-index: 1;
}


.crime-decodificadop ul li a{
	width:auto;
	height:375px;
	display:block;
	text-decoration:none;
}


.crime-decodificadop ul li a img{
	opacity:0.5;
	filter: alpha(opacity=50); /* For IE8 and earlier */

	/*filtro dos elementos*/
	-webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
     -o-filter: grayscale(100%);
filter: grayscale(100%);

/*transição dos elementos*/
	-webkit-transition: all .2s ease-out;
   	-moz-transition: all .2s ease-out;
   	-o-transition: all .2s ease-out;
   	transition: all .2s ease-out;
	}



.crime-decodificadop ul li a:hover img{
	opacity:1;
	filter: alpha(opacity=99); /* For IE8 and earlier */

	-webkit-filter: none;
   -moz-filter: none;
    -ms-filter: none;
     -o-filter: none;
	filter: none;}
.crime-decodificadop .box-titulod {
	height: 0;
	width: 80px;
	border-bottom: 100px solid #FFF;
	border-left: 30px solid transparent;
	border-right: 235px solid #FFF;
	position: absolute;
	bottom: 25px;
	right: 0;
}

.crime-decodificadop .box-titulod p {
	border-right: 5px solid #09539a;
	width: 300px;
	height: 80px;
	margin: 10px 10px;
	color: #787878;
	font-size: 18px;
}
.crime-decodificadop .box-tituloe {
	height: 0;
	width: 80px;
	border-bottom: 0px solid #FFF;
	border-left: 235px solid #FFF;
	border-right: 30px solid transparent;
	border-top: 100px solid #FFF;
	position: absolute;
	bottom: 25px;
	left: 0;
}
.crime-decodificadop .box-tituloe p {
	border-left: 5px solid #09539a;
	width: 300px;
	height: 80px;
	margin: -90px 0px 0px -235px;
	color: #787878;
	font-size: 18px;
	position: absolute;
	top: 0;
	left: 0;
	padding-left: 10px;
}
.conteudo-crime-decodificado{
	width:315px;
	height:315px;
	padding:30px;
	float:left;
	background:#f1f1f1;
}

.conteudo-crime-decodificado h2{
	color:#666;
	font-size:30px;
	text-transform:uppercase;
	margin-bottom:25px;
	}

.conteudo-crime-decodificado p{
	color:#333;
}
.conteudo-crime-decodificado div a{
	font-size: 30px;
	font-weight: bold;
	color:#333;
	height: 15px!important;
	width: 20px!important;
	text-decoration: none!important;
	float: left;
}
.conteudo-crime-decodificado .compartilhar-rede  {
	width: 85px;
	float: left;
	padding: 10px 0;
}
.conteudo-crime-decodificado .compartilhar-rede ul{
	float: left;
}
.conteudo-crime-decodificado .compartilhar-rede ul li {
	width: 25px!important;
	height: 25px!important;
	float: right;
	background: none;
}
.conteudo-crime-decodificado .compartilhar-rede ul li a{
	width: 25px!important;
	height: 25px!important;
	display: block!important;
}
/*DEFINIÇÕES DA PÁGINA MARCELO REZENDE RECEBE*/

.marcelo-recebe{
	float:left;
	width:750px;}


.marcelo-recebe ul li{
	float:left;
	padding-bottom:40px;}

.marcelo-recebe ul li a{
	text-decoration:none;}


.conteudo-marcelo-recebe{
	width:315px;
	height:200px;
	padding:30px;
	background:#CCCCCC;
	float:left;

	/*transição dos elementos*/
	-webkit-transition: all .2s ease-out;
   	-moz-transition: all .2s ease-out;
   	-o-transition: all .2s ease-out;
   	transition: all .2s ease-out;
	}



.conteudo-marcelo-recebe:hover{
	background:#0a529c;
}

.conteudo-marcelo-recebe h2{
	color:#333333;
	font-size:24px;
	text-transform:uppercase;
	padding-bottom:15px;
	margin-bottom:15px;
	border-bottom:dashed 1px #999;
	}

.conteudo-marcelo-recebe:hover h2{
	color:#fff;
	border-bottom:dashed 1px #fff;
	}

.conteudo-marcelo-recebe p{
	color:#666;}


.conteudo-marcelo-recebe:hover p{
	color:#f1f1f1;}


.img-marcelo-recebe{
	width:375px;
	height:260px;
	float:left;
	background:rgba(51,51,51,1);}



/*DEFINIÇÕES DA PÁGINA ENTREVISTAS QUE NAO ACONTECEU*/


/*definição da página interna de dicas do marcelo rezende */
.marcelo-dica{
	float:left;
	width:750px;}


.marcelo-dica ul li{
	float:left;
	padding-bottom:60px;}

.marcelo-dica ul li a{
	text-decoration:none;}


.conteudo-marcelo-dica{
	width:315px;
	height:200px;
	padding:30px;
	background:#CCCCCC;
	float:left;

	/*transição dos elementos*/
	-webkit-transition: all .2s ease-out;
   	-moz-transition: all .2s ease-out;
   	-o-transition: all .2s ease-out;
   	transition: all .2s ease-out;
	}



.conteudo-marcelo-dica:hover{
	background:#c01f26;
}

.conteudo-marcelo-dica h2{
	color:#333333;
	font-size:24px;
	text-transform:uppercase;
	padding-bottom:15px;
	margin-bottom:15px;
	border-bottom:dashed 1px #999;
	}

.conteudo-marcelo-dica:hover h2{
	color:#fff;
	border-bottom:dashed 1px #fff;
	}

.conteudo-marcelo-dica p{
	color:#666;}


.conteudo-marcelo-dica:hover p{
	color:#f1f1f1;}


.img-marcelo-dica{
	width:375px;
	height:260px;
	float:left;
	background:rgba(51,51,51,1);}

/* final das definição da página interna de dicas do marcelo rezende */







/*definição da página interna de viaja do marcelo rezende */
.marcelo-dica{
	float:left;
	width:750px;}


.marcelo-dica ul li{
	float:left;
	padding-bottom:60px;}

.marcelo-dica ul li a{
	text-decoration:none;}


.conteudo-marcelo-viaja{
	width:315px;
	height:200px;
	padding:30px;
	background:#CCCCCC;
	float:left;

	/*transição dos elementos*/
	-webkit-transition: all .2s ease-out;
   	-moz-transition: all .2s ease-out;
   	-o-transition: all .2s ease-out;
   	transition: all .2s ease-out;
	}



.conteudo-marcelo-viaja:hover{
	background:#d2a97c;
}

.conteudo-marcelo-viaja h2{
	color:#333333;
	font-size:24px;
	text-transform:uppercase;
	padding-bottom:15px;
	margin-bottom:15px;
	border-bottom:dashed 1px #999;
	}

.conteudo-marcelo-viaja:hover h2{
	color:#fff;
	border-bottom:dashed 1px #fff;
	}

.conteudo-marcelo-viaja p{
	color:#666;}


.conteudo-marcelo-viaja:hover p{
	color:#f1f1f1;}


.img-marcelo-dica{
	width:375px;
	height:260px;
	float:left;
	background:rgba(51,51,51,1);}

/* final das definição da página interna de dicas do marcelo rezende */








.video-nao-aconteceu{
	width:750px;
	height:345px;
	float:left;
	background: #0a529c;
	}

.conteudo-video-nao-aconteceu{
	width:250px;
	height:345px;
	float: left;
	background: #0a529c; /* Old browsers */
background: -moz-linear-gradient(left,  #0a529c 0%, #0a529c 79%, #01356a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#0a529c), color-stop(79%,#0a529c), color-stop(100%,#01356a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #0a529c 0%,#0a529c 79%,#01356a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #0a529c 0%,#0a529c 79%,#01356a 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #0a529c 0%,#0a529c 79%,#01356a 100%); /* IE10+ */
background: linear-gradient(to right,  #0a529c 0%,#0a529c 79%,#01356a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a529c', endColorstr='#01356a',GradientType=1 ); /* IE6-9 */

}


.conteudo-video-nao-aconteceu h2 a{
	color:#fff;
	text-decoration: none;}
.conteudo-video-nao-aconteceu h2{
	width:190px;
	height:205px;
	padding:30px 40px 10px 20px;
	float: left;
	text-align:right;
	text-transform:uppercase;
	font-size:18px;
	color:#fff;
	text-decoration: none;
}

.menu-player-nao-aconteceu{
	width:250px;
	height:100px;
	float:left;
	}

.menu-player-nao-aconteceu ul li a{
	text-decoration:none;
	width:73px;
	height:49px;
	line-height:49px;
	margin-left:125px;
	text-align:right;
	padding-right:50px;
	display:block;
	font-weight:bold;
	color:#0066CC;
	font-size:36px;
	border-bottom:dashed 1px #0066CC;

	/*transição dos elementos*/
	-webkit-transition: all .2s ease-out;
   	-moz-transition: all .2s ease-out;
   	-o-transition: all .2s ease-out;
   	transition: all .2s ease-out;
	}

.menu-player-nao-aconteceu ul li a:hover{
	background:#0a529c;
	color:#FFFFFF;
	}



	 /*definiçoes dos vídoes gourmet amarelo*/


	.video-nao-aconteceu-am{
	width:750px;
	height:345px;
	float:left;
	background: #fdd116;
	}

.conteudo-video-nao-aconteceu-am{
	width:250px;
	height:345px;
	float: left;
	background: #fdd116; /* Old browsers */
background: -moz-linear-gradient(left,  #fdd116 0%, #fdd116 79%, #e6be1b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#fdd116), color-stop(79%,#fdd116), color-stop(100%,#e6be1b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #fdd116 0%,#fdd116 79%,#e6be1b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #fdd116 0%,#fdd116 79%,#e6be1b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #fdd116 0%,#fdd116 79%,#e6be1b 100%); /* IE10+ */
background: linear-gradient(to right,  #fdd116 0%,#fdd116 79%,#e6be1b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdd116', endColorstr='#e6be1b',GradientType=1 ); /* IE6-9 */

}

.conteudo-video-nao-aconteceu-am h2{
	width:190px;
	height:205px;
	padding:30px 40px 10px 20px;
	float: left;
	text-align:right;
	text-transform:uppercase;
	font-size:18px;
	color:#555;}

.menu-player-nao-aconteceu-am{
	width:250px;
	height:100px;
	float:left;
	}

.menu-player-nao-aconteceu-am ul li a{
	text-decoration:none;
	width:73px;
	height:49px;
	line-height:49px;
	margin-left:125px;
	text-align:right;
	padding-right:50px;
	display:block;
	font-weight:bold;
	color:#555;
	font-size:36px;
	border-bottom:dashed 1px #e6be1b;

	/*transição dos elementos*/
	-webkit-transition: all .2s ease-out;
   	-moz-transition: all .2s ease-out;
   	-o-transition: all .2s ease-out;
   	transition: all .2s ease-out;
	}

.menu-player-nao-aconteceu-am ul li a:hover{
	background:#fdd116;
	color:#999;
	}






	  /*final das definiçoes dos vídoes gourmet amarelo*/














.player-video-nao-aconteceu{
	width:500px;
	height:345px;
	float:left;
	position: relative;}

.player-video-nao-aconteceu a:after{
	content: "\f16a";
	display: block;
	width: 250px;
	height: 20px;
	top: 45%;
	position: absolute;
	font-family: FontAwesome;
	left: 45%;
	font-size: 60px;
	color: #FFF;
	text-shadow: 1px 1px 2px #999;
}
.galeria-videos-nao-aconteceu{
	width:750px;
	height:auto;
	float:left;
	}


.galeria-videos-nao-aconteceu ul li{
	width:230px;
	margin:10px 10px 20px 10px;
	height:200px;
	float:left;}


.galeria-videos-nao-aconteceu ul li a{
	text-decoration:none;}




.box-video{
	width:230px;
	height:150px;
	background:#666666;
	margin-bottom:10px;
	position: relative;
	}
.box-video:after{
	content: "\f16a";
	display: block;
	width: 250px;
	height: 20px;
	top: 50px;
	position: absolute;
	font-family: FontAwesome;
	left: 95px;
	font-size: 40px;
	color: #FFF;
	text-shadow: 1px 1px 2px #999;
	}
.img-video{
	width: 100%;
	background: #f1f1f1;
	float: left;
	border-bottom: 5px solid #fdd116;
	padding: 10px 0px;
	text-align: center;
}
.conteudo-videos{
	font-size:12px;
	color:#333;
	padding-bottom:10px;
	border-bottom: solid 1px #CCCCCC;


	/*transição dos elementos*/
	-webkit-transition: all .2s ease-out;
   	-moz-transition: all .2s ease-out;
   	-o-transition: all .2s ease-out;
   	transition: all .2s ease-out;}


.conteudo-videos:hover{
	color:#999;}



/*DEFINIÇÕES DA PÁGINA CIDADEZINHA ALERTA*/

.cidadezinha{
	font-family: 'Shadows Into Light', cursive;
}


.cidadezinha-h2{
	font-family: 'Shadows Into Light', cursive;
	color:#0a529c;
	}


.destaque-principal-tirinha{
	width:750px;
	float:left;
	height:auto;
	padding: 10px 0;}

.destaque-principal-tirinha ul li{
	width:230px;
	margin:10px;
	height:230px;
	float:left;
	}

.destaque-principal-tirinha ul li a{
	width: 230px;
	height: 230px;
	background:#CCCCCC;
	display:block;
	border: 5px solid #CCC;

	/*transição dos elementos*/
	-webkit-transition: all .2s ease-out;
   	-moz-transition: all .2s ease-out;
   	-o-transition: all .2s ease-out;
   	transition: all .2s ease-out;}

.destaque-principal-tirinha ul li a:hover{
	border: #0a529c solid 5px;}


.sete-erros{
	float:left;
	padding:10px 0;}


.sete-erros a{
	text-decoration:none;
	width:750px;
	height:389px;
	display:block;

	/*transição dos elementos*/
	-webkit-transition: all .2s ease-out;
   	-moz-transition: all .2s ease-out;
   	-o-transition: all .2s ease-out;
   	transition: all .2s ease-out;}


.sete-erros a:hover{
	opacity:0.7;
	filter: alpha(opacity=70);}

#originalImage{
	width: 375px;
	float: left;
}
#Container{
	width: 375px;
	float: right;
}
#txtImage{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
	text-align: center;
	color: #555454;

}
.vamos-colorir{
	width:750px;
	height: auto;
	padding:10px 0;
	float:left;
	background:#0a529c;}


.titulo-vamos-colorir{
	width:750px;
	height:80px;
	float:left;
	border-bottom:#0f60b3 1px dashed;
	margin-bottom:10px;}


.texto-vamos-colorir{
	width:100px;
	height:70px;
	float:left;
	font-family: 'Shadows Into Light', cursive;
	color: rgba(255,255,0,1);
	font-size:34px;
	line-height:28px;
	padding:10px 20px 0 30px;}

.texto-vamos-colorir p.azul-claro{
	color:#00FFFF;
	font-family: 'Shadows Into Light', cursive;
	font-size:40px; }


.conteudo-titulo-vamos-colorir{
	width:600px;
	height:70px;
	float:left;
	font-family: 'Shadows Into Light', cursive;
	color:#FFF;
	font-size:24px;
	line-height:70px;}

.pintar-desenhos{
	width:750px;
	height:250px;
	display: inline-block;
}
.maskdes {
	width:750px;
	height:250px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.lista-desenhos{
	height: 250px;
	float: left;
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;

}
.lista-desenhos li {
	width:230px;
	height:230px;
	margin:10px;
	float:left;
	background:rgba(255,255,255,1);
	position:relative;
	}
.control-desenhos {
	width: 40px;
	height: 23px;
	float: right;
	margin: 5px 10px;
}
.control-desenhos ul {
	padding: 0;
	margin: 0;
}
.control-desenhos ul li a{
	width: 20px;
	height: 23px;
	color: #FFF;
	text-decoration: none;
	display: block;
	float: left;
	background: #CCC;
	text-align: center;
	line-height: 22px;
	font-weight: bolder;
	font-size: 25px;
	vertical-align: middle;
	font-family: monospace;

	/*transição dos elementos*/
	-webkit-transition: all .2s ease-out;
   	-moz-transition: all .2s ease-out;
   	-o-transition: all .2s ease-out;
   	transition: all .2s ease-out;
}

.control-desenhos ul li:last-child a{
	background: #18307C;
}
.print {
	width:30px;
	height:30px;
	position: absolute;
	top:10px;
	left:10px;
	}

.print a{
	width:30px;
	height:30px;
	text-align:center;
	line-height:30px;
	background:#f1f1f1;
	display:block;
	color:#666666;

	/*transição dos elementos*/
	-webkit-transition: all .2s ease-out;
   	-moz-transition: all .2s ease-out;
   	-o-transition: all .2s ease-out;
   	transition: all .2s ease-out;}

.print a:hover{
	background:#999999;
	color:#FFFFFF;
	}


.visualizar {
	width:30px;
	height:30px;
	position: absolute;
	top:10px;
	left:40px;}

.visualizar a{
	width:30px;
	height:30px;
	text-align:center;
	line-height:30px;
	background:#CCC;
	display:block;
	color:#666666;

	/*transição dos elementos*/
	-webkit-transition: all .2s ease-out;
   	-moz-transition: all .2s ease-out;
   	-o-transition: all .2s ease-out;
   	transition: all .2s ease-out;}

.visualizar a:hover{
	background:#999999;
	color:#FFFFFF;}

.Titulo-tirinha{
	width:750px;
	height:200px;
	background:#0a529c;
	float:left;
	}

.imagem-titulo-tirinha{
	width:200px;
	height:200px;
	float:left;
	background:#CCC;}


.conteudo-titulo-tirinha{
	width:510px;
	height:160px;
	float:left;
	padding:20px;}


.conteudo-titulo-tirinha h2{
	color:#FFFFFF;
	padding-bottom:15px;}



/*DEFINIÇÕES DAS PÁGINAS GOURMET*/



.banner-na-adega{
	width:750px;
	height:370px;
	float:left;
	position:relative;}


.conteudo-banner-na-dega{
	width:220px;
	height:270px;
	padding: 50px 100px 50px 50px;
	float:left;
	margin-right:10px;
	background:url(../img/bg-na-adega.gif);
	}

.conteudo-banner-na-dega h2{
	color:#CCC;
	line-height: 40px;
	margin-bottom:10px;}

.img-banner-na-dega{
	width:370px;
	height:370px;
	float:left;
	background-color:#F1f1f1;
	}



/*tinto*/

.destaque-banner-na-dega{
	width:120px;
	height:120px;
	position:absolute;
	background:#990000;
	border:solid 10px #FFFFFF;
	top:115px;
	left:305px;
	z-index:99;
	text-align:center;
	line-height:120px;
	color:#FFFFFF;
	font-size:24px;
	overflow: hidden;
	text-indent: -400px;

	/*curva*/
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	border-radius:30px;

	-webkit-transform: rotate(45deg);

		/* sombra interna */
-moz-box-shadow:inset 0  3px 5px #333;
-webkit-box-shadow:inset 0  3px 5px #333;
box-shadow:inset 0  3px 5px #333;
/* termina sombra interna*/
	}

.destaque-banner-na-dega:after {
  content: attr(title);
  position: absolute;
  -webkit-transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  width: 50px;
  height: 20px;
  display: block;
  margin-top: -10px;
  margin-left: -25px;
  text-align: left;
  line-height: 20px;
  text-indent: 0;
}



/*branco*/

.destaque-banner-na-dega-branco{
	width:120px;
	height:120px;
	position:absolute;
	background:#9f9d9e;
	border:solid 10px #FFFFFF;
	top:115px;
	left:305px;
	z-index:99;
	text-align:center;
	line-height:120px;
	color:#FFFFFF;
	font-size:24px;
	overflow: hidden;
	text-indent: -400px;

	/*curva*/
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	border-radius:30px;

	-webkit-transform: rotate(45deg);

		/* sombra interna */
-moz-box-shadow:inset 0  3px 5px #333;
-webkit-box-shadow:inset 0  3px 5px #333;
box-shadow:inset 0  3px 5px #333;
/* termina sombra interna*/
	}

.destaque-banner-na-dega-branco:after {
  content: attr(title);
  position: absolute;
  -webkit-transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  width: 50px;
  height: 20px;
  display: block;
  margin-top: -10px;
  margin-left: -25px;
  text-align: left;
  line-height: 20px;
  text-indent: 0;
}




/*rose*/

.destaque-banner-na-dega-rose{
	width:120px;
	height:120px;
	position:absolute;
	background:#cd5c60;
	border:solid 10px #FFFFFF;
	top:115px;
	left:305px;
	z-index:99;
	text-align:center;
	line-height:120px;
	color:#FFFFFF;
	font-size:24px;
	overflow: hidden;
	text-indent: -400px;

	/*curva*/
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	border-radius:30px;

	-webkit-transform: rotate(45deg);

		/* sombra interna */
-moz-box-shadow:inset 0  3px 5px #333;
-webkit-box-shadow:inset 0  3px 5px #333;
box-shadow:inset 0  3px 5px #333;
/* termina sombra interna*/
	}

.destaque-banner-na-dega-rose:after {
  content: attr(title);
  position: absolute;
  -webkit-transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  width: 50px;
  height: 20px;
  display: block;
  margin-top: -10px;
  margin-left: -25px;
  text-align: left;
  line-height: 20px;
  text-indent: 0;
}





/*verde*/

.destaque-banner-na-dega-verde{
	width:120px;
	height:120px;
	position:absolute;
	background:#0f4221;
	border:solid 10px #FFFFFF;
	top:115px;
	left:305px;
	z-index:99;
	text-align:center;
	line-height:120px;
	color:#FFFFFF;
	font-size:24px;
	overflow: hidden;
	text-indent: -400px;

	/*curva*/
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	border-radius:30px;

	-webkit-transform: rotate(45deg);

		/* sombra interna */
-moz-box-shadow:inset 0  3px 5px #333;
-webkit-box-shadow:inset 0  3px 5px #333;
box-shadow:inset 0  3px 5px #333;
/* termina sombra interna*/
	}

.destaque-banner-na-dega-verde:after {
  content: attr(title);
  position: absolute;
  -webkit-transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  width: 50px;
  height: 20px;
  display: block;
  margin-top: -10px;
  margin-left: -25px;
  text-align: left;
  line-height: 20px;
  text-indent: 0;
}




.menu-de-vinhos{
	width:750px;
	height:auto;
	padding:7px 0;
	float:left;
	}

.menu-de-vinhos ul li{
	width:180px;
	height:180px;
	float:left;
	margin-left:7px;}

.menu-de-vinhos ul li a{
	width:170px;
	height:170px;
	border:solid 5px #f1f1f1;
	display:block;
	background:#FFFFFF;

	/*curva*/
	-moz-border-radius:90px;
	-webkit-border-radius:90px;
	border-radius:90px;



	/*transição dos elementos*/
	-webkit-transition: all .2s ease-out;
   	-moz-transition: all .2s ease-out;
   	-o-transition: all .2s ease-out;
   	transition: all .2s ease-out;
	}

.menu-de-vinhos ul li a img{
	/*curva*/
	-moz-border-radius:90px;
	-webkit-border-radius:90px;
	border-radius:90px;

	}

.menu-de-vinhos ul li a:hover{
	border-color:#CCCCCC;
	opacity:0.7;
	filter: alpha(opacity=70);
	}


.destaque-gourmet{
	width:750px;
	height:370px;
	float:left;}

.img-destaque-gourmet{
	width:450px;
	height:370px;
	float:left;
	background:#F1F1F1;}

.conteudo-destaque-gourmet{
	width:220px;
	height:290px;
	padding:40px;
	float:left;
	background:#fdd116;}

.conteudo-destaque-gourmet h2,
.conteudo-destaque-gourmet h2 a{
	color:#333;
	line-height:40px;
	margin-bottom:10px;
	text-decoration: none;
	}

.conteudo-destaque-gourmet p,
.conteudo-destaque-gourmet p a{
	color:#333;
	text-decoration: none;
	}


.destaques-gourmet-interno{
	width:750px;
	height:auto;
	padding:10px 0;
	float:left;
	}

.destaques-gourmet-interno ul li{
	width:355px;
	height:400px;
	float:left;
	margin:10px;}

.destaques-gourmet-interno ul li a{
	width:345px;
	height:400px;
	text-decoration:none;
	display:block;
	padding:10px;
	float:left;
	color:#333333;

	/*transição dos elementos*/
	-webkit-transition: all .2s ease-out;
   	-moz-transition: all .2s ease-out;
   	-o-transition: all .2s ease-out;
   	transition: all .2s ease-out;}

.destaques-gourmet-interno ul li a:hover{
	background:#fdd116;}


.img-destaque-gourmet-interno{
	width:345px;
	height:260px;
	background:#CCCCCC;
	float:left;}


.conteudo-destaque-gourmet-interno{
	width:345px;
	height:140px;
	float:left;}

.conteudo-destaque-gourmet-interno h2{
	color:#333;
	line-height:40px;
	font-size:24px;
	margin:10px 0;
	}
.conteudo-destaque-gourmet-interno p{
	color:#333;
	}


.img-materia-gourmet{
	width:750px;
	height:605px;
	background:#f1f1f1;
	float:left;
	border-bottom:5px solid #fdd116;
	padding-bottom:60px;}

.titulo-materia-gourmet{
	width:750px;
	height:60px;
	color:#333333;
	padding-bottom:10px;
	border-bottom: 1px dashed #666666;
	float:left;}

.conteudo-materia-gourmet{
	width:750px;
	min-height: 275px;
	float:left;
	padding-bottom:30PX;

	}

.ingredientes-mateira-gourmet{
	width:210px;
	min-height: 275px;
	float:left;
	background:url(../img/detalhe-gourmet-interno.jpg) top right no-repeat;
	padding-right:70px;
	}

.ingredientes-mateira-gourmet h3{
	width: 210px;
	height:50px;
	padding-bottom:10px;
	}


.ingredientes-mateira-gourmet ul{
	width: 210px;
	float:left;
	}

.ingredientes-mateira-gourmet ul li{
	padding: 7px 0;
	border-bottom:dashed 1px #CCCCCC;
}


.ingredientes-mateira-gourmet ul li a {
	text-decoration: none;
	color: #000;
}


.preparo-mateira-gourmet{
	width:420px;
	height:auto;
	float:left;
	padding-left:50px;
	}

.preparo-mateira-gourmet h3{
	width: 420px;
	height:50px;
	padding-bottom:10px;
	}

.preparo-mateira-gourmet p{
	color:#333333;
	}


.classificacao-gourmet{
	width:750px;
	height:30px;
	padding-top:30px;
	border-top: 1px dashed #CCCCCC;
	line-height:30px;
	float:left;
	font-size:26px;
	color:rgba(102,102,102,1);
	margin-top:10px;
	padding-bottom:60px;}

.five-star{
	display:inline-block;
	padding-left:20px;
	}

.five-star input{
	display:none;
	}

.five-star label{
	display:inline-block;
	width:30px;
	height:30px;
	background:#CCC url(../img/star.png) center top no-repeat;
	overflow:hidden;
	text-indent:-100px;

	}




.five-star.stars-1 label{
	background:#FFCC00 url(../img/star.png) center top no-repeat;}
.five-star.stars-1 label + label {
	background:#CCC url(../img/star.png) center top no-repeat;}


.five-star.stars-2 label{
	background:#FFCC00 url(../img/star.png) center top no-repeat;}
.five-star.stars-2 label + label + label {
	background:#CCC url(../img/star.png) center top no-repeat;}


.five-star.stars-3 label{
	background:#FFCC00 url(../img/star.png) center top no-repeat;}
.five-star.stars-3 label + label + label + label {
	background:#CCC url(../img/star.png) center top no-repeat;}

.five-star.stars-4 label{
	background:#FFCC00 url(../img/star.png) center top no-repeat;}
.five-star.stars-4 label + label + label + label + label {
	background:#CCC url(../img/star.png) center top no-repeat;}


.five-star.stars-5 label{
	background:#FFCC00 url(../img/star.png) center top no-repeat;}


.five-star:hover label{
	background:#CCC url(../img/star.png) center top no-repeat;}


.five-star:hover label:hover{
	background:#FFCC00 url(../img/star.png) center top no-repeat;}



/*DEFINIÇÕES DA PÁGINA VIAJA*/

.albuns-viagens{
	width:1000px;
	height:auto;
	float:left;}

.albuns-viagens ul {
	float:left;}

.albuns-viagens ul li{
	width:250px;
	height:320px;
	float:left;}


.albuns-viagens ul li a{
	width:250px;
	height:320px;
	background:#d2a97c;
	display:block;
	text-decoration:none;}


.topo-album{
	width:250px;
	height:70px;
	float:left;}

.data-album{
	width:40px;
	height:40px;
	float:left;
	background:#524535;
	text-align:center;
	padding:15px;
	color:#FFFFFF;
	line-height:20px;
	font-size:22px;
	}


.titulo-album{
	width:165px;
	height:40px;
	float:left;
	padding:15px 0 15px 15px;
	font-size:14px;
	line-height:20px;
	color:rgba(255,255,255,1); }

.titulo-album h3{
	color: #524535;
	font-size:22px;}


.img-album{
	width:250px;
	height:250px;
	background:rgba(204,204,204,1);
	float:left;

	/*transição dos elementos*/
	-webkit-transition: all .2s ease-out;
   	-moz-transition: all .2s ease-out;
   	-o-transition: all .2s ease-out;
   	transition: all .2s ease-out;}

.img-album:hover{
	opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
	}


.destaques-viagens{
	width:310px;
	height: auto;
	float:left;
	margin-right:40px;
	}


.img-destaque-viagens{
	width:310px;
	height:280px;
	float:left;
	background:#f1f1f1;
	}



.conteudo-destaque-viagens{
	width:290px;
	height:auto;
	padding: 10px;
	background:#d2a97c;
	float:left;
	}

.conteudo-destaque-viagens h3{
	font-size:30px;
	padding-bottom:20px;
	line-height:30px;
	text-transform:uppercase;}



.destaque-diario-viagem{
	width:650px;
	height:600px;
	float:left;
	}

.box-texto-destaque-viaja{
	width:290px;
	height:190px;
}
.box-texto-destaque-viaja a {
	text-decoration: none;
	color: #000;
}


.navegacao-destaque-diario li.hover .conteudo-destaque-diario{
	opacity: 1;
	display: block;
}
.conteudo-destaque-diario{
	width:285px;
	height: 500px;
	opacity: 0;
	padding:20px;
	background:#f1f1f1;
	position: absolute;
	left: 0;
	top:0;
	display: none;
}

.conteudo-destaque-diario h3,
.conteudo-destaque-diario h3 a{
	padding-bottom:20px;
	line-height:30px;
	text-transform:uppercase;
	text-decoration:none;
	color: #000;
}

.navegacao-destaque-diario{
	width:325px;
	height:540px;
	float:left;}

.box-de-conteudo{
	width:285px;
	height:460px;
	}


.navegacao-destaque-diario ul {
	position: relative;
}
.navegacao-destaque-diario ul li{
	width: 650px;
	height: 180px;
}
.navegacao-destaque-diario ul li:nth-child(1) {
	top: 0px;
}
.navegacao-destaque-diario ul li:nth-child(2) {
	top: 0px;
}
.navegacao-destaque-diario ul li:nth-child(3) {
	top: 0px;
}

.navegacao-destaque-diario ul li a{
	width:325px;
	height:180px;
	float:right;
	display:block;
	background:#ccc;
	text-decoration:none;
	clear: both;
	}



.img-nav-destaque-diario{
	width:220px;
	height:180px;
	float:left;}

.data-nav-destaque-diario{
	width:105px;
	height:120px;
	padding:30px 0;
	float:left;
	background:#ffeeda;
	text-align:center;
	color:#d2a97c;
	font-size:36px;

	/*transição dos elementos*/
	-webkit-transition: all .2s ease-out;
   	-moz-transition: all .2s ease-out;
   	-o-transition: all .2s ease-out;
   	transition: all .2s ease-out;
}

.data-nav-destaque-diario:hover{
	background:#d2a97c;
	color:#fff;
}


.data-nav-destaque-diario h3{
	font-size:40px;
	color:#524535;
	line-height:36px;}

.diario-viagem{
	width:750px;
	height:auto;
	float:left;
	padding:20px 0;}

.diario-viagem ul li{
	margin: 20px 5px;
	float:left;
}

.diario-viagem ul li a{
	width:365px;
	height:200px;
	text-decoration:none;
	background:#f1f1f1;
	display:block;

	/*transição dos elementos*/
	-webkit-transition: all .2s ease-out;
   	-moz-transition: all .2s ease-out;
   	-o-transition: all .2s ease-out;
   	transition: all .2s ease-out;}

.diario-viagem ul li a:hover{
	background:#d2a97c;
	color:#CCCCCC;
	}


.data-diario-viagem{
	width:100px;
	height:160px;
	padding:25px 10px 15px 10px;
	float:left;
	color:#444;
	text-transform:uppercase;
	text-align:center;
	}


.data-diario-viagem h3{
	text-align:center;
	width:100px;
	height:60px;
	color:#524535;
	padding-bottom:20px;
	margin-bottom:10px;
	border-bottom:dashed 1px #ccc;
	line-height:36px;
	font-size:36px;
	float:left;
	}


.img-diario-viagem{
	width:245px;
	float:left;
	height:200px;
	background-color:rgba(204,204,204,1);
	}

/*DEFINIÇÕES DA PÁGINA ALBUNS */


.albunsgal{
	float:left;
	width:750px;}

.albunsgal ul li {
	float:left;
	margin-bottom:30px;
	width:375px;
	height:375px;
		}

.albunsgal ul li  a{
	width:375px;
	height:375px;
	display:block;
	text-decoration:none;}

.img-albunsgal{
	width:375px;
	height:375px;
	position:relative;
	top:0;
	left:0;
	background:#CCC;

	/*transição dos elementos*/
	-webkit-transition: all .2s ease-out;
   	-moz-transition: all .2s ease-out;
   	-o-transition: all .2s ease-out;
   	transition: all .2s ease-out;
	}



.img-albunsgal:hover{
	opacity:0.8;
	filter: alpha(opacity=80); /* For IE8 and earlier */
}

.conteudo-albunsgal{
	width:315px;
	height:90px;
	background:#FFF;
	text-decoration:none;
	color:#965908;
	padding:30px;
	position:relative;
	left:0;
	top:225px;
	opacity: 0.7;

	/*transição dos elementos*/
	-webkit-transition: all .2s ease-out;
   	-moz-transition: all .2s ease-out;
   	-o-transition: all .2s ease-out;
   	transition: all .2s ease-out;
	overflow: hidden;
	}


.conteudo-albunsgal:hover{
	width: 315px;
	height: 315px;
	/* background: rgba(153,0,0,1); */
	position: relative;
	left: 0;
	top: 0;
	opacity: 0.9;
}

.conteudo-albunsgal a{
	width: 35px;
	height: 35px;
	display: block;
	text-decoration: none;
	background: #CCC;
	text-align: center;
	line-height: 35px;
}
.conteudo-albunsgal p{
	color:#965908;
	line-height: 23px;
}


/*  DEFINIÇÕES DA PÁGINA DE FORUM   */

.forumm{
	width:750px;
	height: 40px;
	padding: 15px 0;
	float:left;
	border-top: solid 1px #CCCCCC;
	}

.forumm ul {
	width:750px;
	height:40px;
	float:left;
	}

.forumm ul li{
	float:left;
	width:auto;
	height:40px;
	}

.forumm ul li a{
	text-decoration:none;
	font-size:24px;
	font-family:'Open Sans Condensed', sans-serif;
	float:left;
	padding: 0 20px;
	color:#444;
	height:40px;
	display:block;
	line-height:40px;

	/*transição dos elementos*/
	-webkit-transition: all .2s ease-out;
   	-moz-transition: all .2s ease-out;
   	-o-transition: all .2s ease-out;
   	transition: all .2s ease-out;
	}


.forumm  .direito{
	height:40px;
	float: right;
	}

.forumm  .direito a{
	width:200px;
	height:40px;
	display:block;
	text-align:center;
	line-height:40px;
	background-color:#0066CC;
	color:#FFFFFF;
	text-decoration:none;
	}

.forumm  .direito a:hover{
	background-color: #666666;
	}



.forumm ul li a:hover{
	background-color:#0066CC;
	color:rgba(255,255,255,1);
	}


.topicos-forum{
	width:750px;
	height:auto;
	float:left;
	padding: 10px 0;
	clear:both;
	border-top:solid 1px #CCC;
	}

.topicos-forum ul {
	width:750px;
	float:left;}


.topicos-forum ul li{
	width:750px;
	height:120px;
	float:left;
	margin:15px 0 30px 0;
	background-color:#f1f1f1;}

.img-forum{
	width:120px;
	height:120px;
	float:left;
	background:#FFCC33;}

.conteudo-forum{
	width:510px;
	height:100px;
	padding:10px 0;
	float:left;}

.conteudo-forum h2{
	width:100%;
	float:left;
	clear:both;}


.conteudo-forum h2 a {
	width:440px;
	height:70px;
	font-size:18px;
	padding:0 20px 10px 20px;
	text-decoration:none;
	display:block;
	font-weight:bold;
	color:#444;}

.conteudo-forum h2 a:hover {
	color:rgba(0,102,204,1);
	text-decoration:underline;}

.creditos-forum{
	width:440px;
	height:30px;
	padding:0 20px;
	float:left;
	text-align:right;
	color:#666666;
	font-size:14px;}



.posicao-forum{
	width:30px;
	height:120px;
	float:left;
	}

.seta-forum{
	width:19px;
	height:19px;
	background: url(../img/split-forum.png) top -19px left 0;
	margin:10px  auto 7px auto; }

.desempenho-forum{
	width:100%;
	text-align:center;}


.pontos-forum{
	width:80px;
	height:80px;
	padding:20px;
	float:left;
	text-align:center;
	background:rgba(0,102,204,1);
	font-size:18px;
	color:rgba(255,255,255,1);}

.pontos-forum h3{
	font-size:46px;
	text-align:center;}



.forum-interno{
	width:750px;
	height: auto;
	padding: 15px 0;
	float:left;
	border-top: solid 1px #CCCCCC;
	border-bottom: solid 1px #CCCCCC;
	margin-bottom:20px;
	}

.forum-interno h2{
	font-size:28px;
	line-height:32px;}



.box-assunto-forum{
	width:730px;
	height:auto;
	padding:10px;
	background:#f1f1f1;
	float:left;}



.topo-box-forum{
	width:100%;
	float:left;
	height:70px;
	padding-bottom:10px;
	border-bottom:#CCCCCC dashed 1px;}


.foto-box-forum{
	width:70px;
	height:70px;
	float:left;
	background:#999999;}


.creditos-box-forum{
	width:500px;
	height:55px;
	float:left;
	padding:15px 0 0 20px;
	font-size:14px;
	color:#666666;}



.reputacao-box-forum{
	width:130px;
	float:left;
	height:70px;
	text-align:right;
	font-size:22px;
	color:#555555;}

.reputacao-box-forum h3{
	color:#0066CC;
	font-size:30px;
	font-weight:700;}


.conteudo-box-forum{
	width:660px;
	float:left;
	padding:20px 0;
	border-bottom:#CCCCCC dashed 1px;
	margin-bottom:20px;
	margin-left:70px;}

.conteudo-box-forum p{
	color:#333333;}



.rodape-box-forum{
	width:100%;
	height:50px;
	float:left;
	}


.avaliacao-box-forum{
	color:#333333;
	font-size:24px;
	height:50px;
	line-height:40px;
	width:510px;
	padding-left:70px;
	float:left;}

.avaliacao-box-forum h4{
	width:auto;
	padding-right:30px;
	float:left;}



.avaliacao-topico ul{
	width:100px;
	float:left;
	height:40px;
	margin:5px 0;
	}


.avaliacao-topico ul li{
	width:40px;
	height:40px;
	float:left;
	margin: 0 3px;}

.avaliacao-topico ul li a{
	width:40px;
	height:40px;
	float:left;
	display:block;

}



.sobe a{
	width:40px;
	height:40px;
	background:url(../img/split-avaliacao-forum.png) no-repeat top -42px left -1px;
	display:block;
	float:left;
	margin-left:10px;

	/*transição dos elementos*/
	-webkit-transition: all .2s ease-out;
   	-moz-transition: all .2s ease-out;
   	-o-transition: all .2s ease-out;
   	transition: all .2s ease-out;}

.sobe a:hover{
	background:url(../img/split-avaliacao-forum.png) no-repeat top 0 left -1px;
	}

.desce a{
	width:40px;
	height:40px;
	background:url(../img/split-avaliacao-forum.png) no-repeat top -42px left -43px ;
	display:block;
	float:left;
	margin-left:10px;

	/*transição dos elementos*/
	-webkit-transition: all .2s ease-out;
   	-moz-transition: all .2s ease-out;
   	-o-transition: all .2s ease-out;
   	transition: all .2s ease-out;}

.desce a:hover{
	background:url(../img/split-avaliacao-forum.png) no-repeat top 0 left -43px;
	}



.btn-responder-box-forum{
	width:120px;
	padding-left:30px;
	height:50px;
	float:left;
	}

.btn-responder-box-forum a{
	width:120px;
	height:40px;
	margin:5px 0;
	float:left;
	display:block;
	color:#FFFFFF;
	text-decoration:none;
	background:rgba(0,102,204,1);
	text-align:center;
	line-height:40px;

	/*transição dos elementos*/
	-webkit-transition: all .2s ease-out;
   	-moz-transition: all .2s ease-out;
   	-o-transition: all .2s ease-out;
   	transition: all .2s ease-out;
	}

.btn-responder-box-forum a:hover{
	background:rgba(0,51,204,1);
	}


.redes-box-forum{
	width:350px;
	height:20px;
	float: right;
	padding:10px;
	background:#666666;
	color:#CCCCCC;
	margin-right:10px;
	}
.redes-box-forum a{
  color:#CCCCCC;
  text-decoration: none;

}

.detalhe-bg-esquerdo{
	width:0;
	height:0;
	border-left:40px solid transparent;
	border-top:40px solid #666;
	float: right;
}

#comentario-forum{
	position:relative;
	width:750px;
	height:350px;
	float:left;
	}



#lightbox-facebook{
	position: relative;
	top:0;
	left:0;
	padding:30px;
	width:690px;
	height:290px;
	background:rgba(0,0,0,0.8)
	}



.texto-do-loguin{
	font-size:26px;
	text-align:center;
	padding:30px 0;
	}


.comentarios-forum{
	width:750px;
	height:auto;
	padding:25px 0;
	float:left;
	}

.comentarios-forum li{
	padding:10px;
	border:1px solid rgba(204,204,204,1);
	float:left;
	width:730px;
	height:auto;
	margin-top: 30px;

	}
.comentarios-forum-children li {
  width: 620px;
  margin-left: 90px;
}
.comentarios-forum-children .conteudo-coment-forum,
.comentarios-forum-children .descri-coment-forum,
.comentarios-forum-children .titulo-coment-forum {
  width: 380px;
}
.comentarios-forum-children .posicao-coment-forum,
.comentarios-forum-children .posicao-coment-forum .posicionamento-coment-forum,
.comentarios-forum-children .posicao-coment-forum .pontos-coment-forum {
  width: 105px;
}
.comentarios-forum-children .posicao-coment-forum .posicionamento-coment-forum {
  padding-left: 0px;
}

.foto-coment-forum{
	width:70px;
	height:70px;
	background:#666;
	float:left;
	margin-bottom:70px;}


.conteudo-coment-forum{
	width:460px;
	height:15px 0;
	float:left;
	padding:20px;
	margin:0 20px 0 0;
	border-right:dashed 1px #CCCCCC;}



.titulo-coment-forum{
	width:460px;
	height:40px;
	float:left;
	padding-bottom:20px;
	font-size:14px;
	color:#666;
	border-bottom:dashed 1px #CCCCCC;
	}


.descri-coment-forum{
	width:460px;
	float:left;
	padding:15px 0;
	}


.posicao-coment-forum{
	width:135px;
	height:230px;
	float:left;
	}



.pontos-coment-forum{
	width:135px;
	height:40px;
	float:left;
	padding:20px 0;
	border-bottom:dashed 1px #CCCCCC;
	margin-bottom:20px;
	font-size:44px;
	text-align:right;
	color:#666666;}

.posicionamento-coment-forum{
	width:125px;
	height:50px;
	float:left;
	margin-bottom:20px;
	padding-left:10px;}

.posicionamento-coment-forum ul{
	margin:0;
	padding:0;
	float:left;}

.posicionamento-coment-forum ul li{
	width:40px;
	float:left;
	border:none;}

.botao-citar a{
	width:120px;
	height:40px;
	text-align:center;
	color:#FFFFFF;
	background:rgba(0,102,204,1);
	display:block;
	text-decoration:none;
	margin:auto;
	line-height:40px;
	clear:both;


	/*transição dos elementos*/
	-webkit-transition: all .2s ease-out;
   	-moz-transition: all .2s ease-out;
   	-o-transition: all .2s ease-out;
   	transition: all .2s ease-out;
	}


.botao-citar a:hover{
	background:#003399;
}

.ver-mais{
	width: 40px;
	height: 40px;
	background: rgba(153,0,0,1);
	display: inline-block;
	text-align: center;
	text-decoration: none;
	color: #FFF;
	font-size: 30px;
	float: right;
}


#forum-texto_tbl {
	border: 1px solid #CCC;
    border-radius: 5px;
    overflow: hidden;
}


/*  INTERNA DE GALERIA  */

.galerias{
	float:left;
	width:750px;
	}


.galerias ul li{
	width:250px;
	height:250px;
	float:left;
	background:rgba(0,0,0,1);
}

/* CIDADEZINHA ALERTA IMPRESSÃO */

.engloba-visualizar{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.75);
	position: fixed;
	top:0;
	z-index: 99;
}
#formato-zoom{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
}
.align-zoom{
	margin: 0 auto;
	width: 750px;
	margin-top: 240px;
	position: relative;
}
.zoom{
	width: 750px;
	height: 400px;
	position: relative;
}
a.fechar{
	color: #666666;
	background: #f1f1f1;
	width: 30px;
	position: absolute;
	vertical-align: middle;
	left: 0;
	height: 30px;
	text-align: center;
	font-family: arial;
	text-decoration: none;
	font-size: 24px;}

#corta-pra-mim .mask {
	width: 1000px;
	margin: 0 auto;
	position: relative;
	height: 150px;
}
.banner-entrevista{
	width: 550px;
	height: 330px;

}
.lista-entrevista{
	height: 330px;
	float: left;
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;

}
.maskent {
	width: 550px;
	margin: 0 auto;
	position: relative;
	height: 330px;
	overflow: hidden;
}

#forum-titulo, #forum-texto { width: 100%; line-height: 25px;}
#forum-titulo { border-radius: 5px; border: 1px solid #CCC;  text-indent: 10px; margin-bottom: 10px; }
#forum-texto { height: 200px; margin-bottom: 10px; }
form fieldset { border: 0; }
button.btn {
height: 30px;
background: #0a529c;
margin: auto;
padding: 7px;
background: #207cca;
background: -moz-linear-gradient(top, #207cca 0%, #415989 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#207cca), color-stop(100%,#415989));
background: -webkit-linear-gradient(top, #207cca 0%,#415989 100%);
background: -o-linear-gradient(top, #207cca 0%,#415989 100%);
background: -ms-linear-gradient(top, #207cca 0%,#415989 100%);
background: linear-gradient(to bottom, #207cca 0%,#415989 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207cca', endColorstr='#415989',GradientType=0 );
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
border-radius: 7px;
border: 0; color: #FFF;
margin-top: 10px;
}

ul.errors {
	border: 1px solid #F00;
	padding: 10px;
	clear: both;
	background: #EBB4B4;
	color: #c01f26;
	font-weight: bold;
}


.marginTopBottom { margin: 10px 0; }
.successMessage {
	border: 1px solid #214E03;
	clear: both;
	padding: 10px;
	margin: 10px 0;
	background: #E7FFE6;
}
.successMessage p {
	color: #084482 ;
	font-weight: bold;
	margin-bottom: 0px;
}

body.userLogged .forum-rodape .box-forum .btn-login-facebook { display: none; }
body.userLogged #lightbox-facebook { display: none; }

.form-criar-forum { width: 750px; position: relative; float: left;}
.form-criar-forum form { display: none;}
body.userLogged .form-criar-forum form { display: block; }

.commentForm { clear: both; width: 100%; display: none; }
body.userLogged .commentForm { display: block; }
.commentForm textarea { min-width: 95%; display: block; height: 150px;  padding: 10px; border: 1px solid #c3c3c3; border-radius: 3px; }
.paginacao li { padding: 0; border: 0; display: inline-block; width: auto; }

/* CSS DO PLAYER DE ÁUDIO */
.audioPlayer { border: #aaa 1px solid; border-radius: 10px; max-width: 450px; padding: 10px 0; text-indent: 10px; position: relative; min-height: 30px; clear: both; margin: 0 auto; margin-top: 50px;}
.audioPlayer a { display: inline-block; border-radius: 3px; border: 1px solid #d3d3d3; text-indent: 0; text-align: center; padding: 5px; margin: 0px 2px; color: #888; font-size: 10px; vertical-align: top; min-width: 13px;  text-decoration: none;
	background: rgb(238,238,238); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(238,238,238,1) 47%, rgba(231,231,231,1) 48%, rgba(237,237,237,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(47%,rgba(238,238,238,1)), color-stop(48%,rgba(231,231,231,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 47%,rgba(231,231,231,1) 48%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 47%,rgba(231,231,231,1) 48%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 47%,rgba(231,231,231,1) 48%,rgba(237,237,237,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 47%,rgba(231,231,231,1) 48%,rgba(237,237,237,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */

	}
.audioPlayer input.sliderTime { width: 300px; height: 5px; }
.audioPlayer .startTime, .audioPlayer .endTime { position: absolute; left: 92px; top: 30px; font-size: 10px; color: #888}
.audioPlayer .endTime { left: 372px; }
.audioPlayer input[type='range']{
	-webkit-appearance: none;
	vertical-align: middle;
	height: 10px;
	background: #FFF;
	border: 1px solid #aaa;
	border-radius: 3px;
}
.audioPlayer input[type='range']::-moz-range-track {
		-moz-appearance: none;
		border-radius: 3px;
		background-color: #fff;
		height: 10px;
		border: 0;
	}
.audioPlayer input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none !important;
	border-radius: 3px;
	background: rgb(238,238,238); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(238,238,238,1) 47%, rgba(231,231,231,1) 48%, rgba(237,237,237,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(47%,rgba(238,238,238,1)), color-stop(48%,rgba(231,231,231,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 47%,rgba(231,231,231,1) 48%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 47%,rgba(231,231,231,1) 48%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 47%,rgba(231,231,231,1) 48%,rgba(237,237,237,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 47%,rgba(231,231,231,1) 48%,rgba(237,237,237,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */

	border: 1px solid #d3d3d3;
	height: 18px;
	width: 18px;
}
.audioPlayer input[type='range']::-moz-range-thumb {
	-moz-appearance: none;
	border-radius: 3px;
	background: rgb(238,238,238); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(238,238,238,1) 47%, rgba(231,231,231,1) 48%, rgba(237,237,237,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(47%,rgba(238,238,238,1)), color-stop(48%,rgba(231,231,231,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 47%,rgba(231,231,231,1) 48%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 47%,rgba(231,231,231,1) 48%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 47%,rgba(231,231,231,1) 48%,rgba(237,237,237,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 47%,rgba(231,231,231,1) 48%,rgba(237,237,237,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */

	border: 1px solid #d3d3d3;
	height: 18px;
	width: 18px;
}
input.sliderVolume { width: 100px; }

.botao-citar { display: none; }
.userLogged .botao-citar { display: inline-block; }


/** Enquetes **/
 .lista-enquete {
	width:750px;
	float: left;
 }
 .lista-enquete > ul {
	width: 750px;

 }
.lista-enquete > ul > li {
	width: 355px;
	background: #f1f1f1;
	border-bottom: 1px solid #a5a5a5;
	float: left;
	margin: 0px 0px 40px 20px;
}
.lista-enquete li h3 {
	height: 70px;
    line-height: 70px;
    vertical-align: middle;
	overflow: hidden;
	font-size: 23px;
	margin: 20px;
}
.lista-enquete li h3 a {
	text-decoration: none;
	color: #000;
}

.lista-enquete > li:nth-child(2n+1) {
	margin-left: 0px;
}
 .lista-enquete .enquete-conteudo {
	padding: 20px;
 }
 .lista-enquete .enquete-botoes {
    justify-content: center;
	margin-bottom: 20px;
 }
.lista-enquete .enquete-conteudo {

}
 .lista-enquete .enquete-conteudo .enquete-ip input[type="radio"]+label[for] {
	border: 2px solid #7b7b7b;
	width: 10px;
	height: 10px;
 }
 .lista-enquete .enquete-conteudo .enquete-ip input[type="radio"]:checked+label[for] {
	border-color: #0a529c;
}
.enquete-conteudo li {
	display: flex;
	justify-content: flex-start;
	align-items: center;

	padding-bottom: 24px;
	margin-bottom: 24px;
	border-bottom: 1px dotted #cacaca;

}
.lista-enquete li:nth-child(2n+1) {
    clear: left;
}
.enquete-conteudo li:last-child {
		padding-bottom: 0px;
		border-bottom: none;
}
.enquete-ip {
	height: 18px;
	margin-right: 35px;
}
.enquete-ip input[type="radio"]+label[for] {
	border: 1px solid #7b7b7b;
	width: 12px;
	height: 12px;
	display: block;
	border-radius: 50%;
	position: relative;
	left: 5px;
	top: -17px;
}
.enquete-ip input[type="radio"] {
	visibility: hidden;
}
.enquete-ip input[type="radio"]:checked+label[for] {
	background: #0a529c;
	border-color: #0a529c;
}
.enquete-va {
	width: 643px;
}
.enquete-botoes {
	display: flex;
	align-items: center;
	justify-content: flex-end;

}
.enquete-botoes a,
.enquete-botoes input[type=submit] {
	width: 156px;
	height: 55px;
	display: flex;
	font-family:'Open Sans Condensed', sans-serif;
	color: #FFF;
	font-size: 20px;
	text-decoration: none;
	align-items: center;
	justify-content: center;
	margin-left: 2px;
}
.enquete-resultado {
	background: #9da09f;
}
.enquete-votar {
	border: 0px;
	background: #0a529c;
}
.enquete-message {
	margin-bottom: 60px;
}

/** Fim Enquetes **/
